[2016-08-25 14:13] agatti opened #6 "Remove code for Bus Pirate v2?"
I removed support for Bus Pirate v1A with e0f0d3b332a22b41dc9fe3e7b539f17014ddc3c9, which was for a device that is almost six years old now.  I don't know how many Bus Pirate v2 users are out there, and therefore whether to remove support for it or not.

This question should probably be read as "Should we focus only on V3 and V4?", though.  I personally only have one v4 unit and when performing cl

[2016-08-25 16:29] agatti opened #7 "Test the build on a real v3 board"
Now that the firmware can build for v3, it would be nice to know whether it actually works or not.  Unfortunately I only have a v4 board here...

[2016-08-25 18:10] CoryHenderson commented on #7
I can test on v3 hardware. I have a v3.5c, date stamped Sep 2011. Is there a specific test procedure, or are you just making sure it works at all?

[2016-08-25 18:43] CoryHenderson commented on #7
I can confirm that the latest firmware builds and runs on the v3.5c that I have. Terminal looks like it is working fine. I do have an issue with I2C that I didn't have in 6.1 which I have been using regularly. When reading a register (`[0x34 0][0x35 r r]`), only the first read comes back correct. The second (and all subsequent) read always comes back 0xFF, but the ACKs are working correctly.

[2016-08-25 23:26] kallisti5 commented on #6
Looks like BPv2 started as a Hack-a-day project circa 2009. (pre DangerousPrototypes)
http://hackaday.com/2009/06/25/how-to-the-bus-pirate-v2-with-usb/

I'd say drop it.. Not sure how many were sold... but i've yet to see one... and getting one for testing would likely be pretty painful.

[2016-08-25 23:31] kallisti5 commented on #7
Hm.. I wonder if the I2C regressions were caused by 3c820687e8583055821974d4c30356059746d391 ?

[2016-08-26 02:52] CoryHenderson commented on #7
I can check that tomorrow. I just so happened to be using that when I saw the request for a tester, so it was the first thing I noticed

[2016-08-26 13:58] agatti commented on #6
Fair enough.  Support for v2 and v2.5 has been removed in 674d801c3bc34823f4cb81748dfad0d044f05206.

[2016-08-26 13:58] #6 closed

[2016-08-26 15:19] agatti commented on #7
@CoryHenderson would it be possible to check whether the board also passes selftest and if the hardware information report makes any sense?

[2016-08-26 15:29] CoryHenderson commented on #7
@kallisti5 Wasn't 3c82068. Just tried reverting the commit, same results.

[2016-08-26 15:39] CoryHenderson commented on #7
@agatti Self test looks good:

AUX OK
MODE LED OK
PULLUP H OK
PULLUP L OK
VREG OK
ADC and supply
5V(4.79) OK
VPU(4.80) OK
3.3V(3.23) OK
ADC(3.27) OK
Bus high
MOSI OK
CLK OK
MISO OK
CS OK
Bus Hi-Z 0
MOSI OK
CLK OK
MISO OK
CS OK
Bus Hi-Z 1
MOSI OK
CLK OK
MISO OK
CS OK
MODE and VREG LEDs should be on!
Any key to exit
Found 0 errors.

By hardware information, do you mean just the `i` command in the te

[2016-08-26 15:42] agatti commented on #7
@CoryHenderson yep, that's all I needed to check - thanks!

For I2C, I'll try to get the last revision off DP's repo to build for v3 and MPLAB X later on today, I hope you can give it a spin when you have the time.

[2016-08-26 15:44] CoryHenderson commented on #7
@agatti Sounds good. Today will be the last day I have for a few weeks, but I can hopefully start contributing more starting mid September.

[2016-08-26 16:59] agatti commented on #7
@CoryHenderson, here's a build from the tree at https://github.com/DangerousPrototypes/Bus_Pirate/commit/10f1ec16ff24ab050ec8d048f398dc4ef6a8514f - disabling enough features (OpenOCD, Basic interpreter, JTAG, PC-AT Keyboard) to fit in the available ROM space.  Thanks for the help :)

[busPirate.X.production.hex.zip](https://github.com/BusPirate/Bus_Pirate/files/439764/busPirate.X.production.hex.zi

[2016-08-26 17:01] agatti commented on #7
@kallisti5, do you think it would help to ping Seeed/Sparkfun/Dangerous Prototypes directly and ask for a fully assembled board to support this endeavour?  If it's Seeed, I'll be in Shenzhen later this month so I could even pop by and pick it up in person ;)

[2016-08-26 19:16] CoryHenderson commented on #7
@agatti v6.3 has the I2C bug as well. I had a version of v6.2 (r1981) laying around from a while back. Tried that, and it works fine. I am attaching text file logs of my I2C read operation from each. As you can see, the version from r1981 has the correct output of 0x8904, which is the device ID of the WM8912 I am reading from. The r2151 build returns 0x89FF
[I2CTest-v6.2-r1981.txt](https://github.

[2016-08-27 05:27] agatti commented on #7
@CoryHenderson great catch!  I'll have a go at it this weekend and see what I can get out of it, although I'll have to first rig something up on an ESP8266 or Arduino to have any I2C bus to read from.

[2016-08-27 09:04] agatti commented on #7
@CoryHenderson, can you please give this firmware a try when you have the time in a few weeks?  All the DP SVN dumps I found so far stop at r2115 - need to find more recent dumps I guess...

[BPv3-firmware-v6.3-r2088.hex.zip](https://github.com/BusPirate/Bus_Pirate/files/440571/BPv3-firmware-v6.3-r2088.hex.zip)

[2016-09-02 21:45] coelner commented on #7
So far,  a sniffing between a BMP280 and ESP8266:
[code]

The debug output via serial:
[code]
The double read seems ok:
[code]

[2016-09-03 17:04] agatti commented on #7
@coelner thanks for the report! Can you please check if using any newer firmware than r2088 trigger the problem on double read? Maybe if you can capture the signals in something I can open with Saleae Logic would also help if double read fails.

[2016-09-03 21:23] coelner commented on #7
I tried this version: BPv3-firmware-v6.3-r2151_by_tayken-spi_fix.hex
So far, it seems to be the same. Unfortunalty I don't have a logic analyser. At least under windows ols and pulsesiew in combination with the buspirate fail.

[2016-09-11 09:42] mikebdp2 opened #10 "Warning: busPirate.X.production.hex code overlaps current code and will overwrite it ?"
What does this warning mean? I am trying to build a firmware from the latest revision of this repository. It builds successfully with the changes I have shared through my pull requests. However:

1. it tells me this warning - regardless on what optimization level I use
2. if I ignore a warning and upload this firmware to my BPv4:

My build environment: Ubuntu Linux 16.04.1 x64, MPLAB X v3.40 and M

[2016-09-11 19:53] agatti commented on #10
This is interesting.  I didn't remember getting that message on MPLAB-X 3.35 but I do get that on 3.40 on OSX.  The xc16 compiler is same as yours - however I build with 's' when it comes to optimisation settings and it works here.  Something that could be checked would be whether the linker script changed between MPLAB-X versions, which is something I'm going to do shortly after this.

In the mea

[2016-09-11 20:10] agatti commented on #10
Ok, linkerscripts differ.  A quick diff between p24FJ256GB106.gld in the source tree and what's in ..../xc16/v1.26/support/PIC24F/gld/p24F256GB106.gld shows a few changes.  I'll have to get out pen and paper to draw all the new sections and offsets to figure out if there are any significant differences, but I also need to trace the history of that file on the original DP repo to see if that got ch

[2016-09-11 20:18] agatti commented on #10
By the way, since I don't have a PicKit2 or anything like that - can you please clarify whether the firmware problem you see happens with the previous "official" bootloader as well?  Because that's what I am using right now.

[2016-09-11 20:58] agatti commented on #10
For what it's worth, here's how sections look like when compiled with no optimisations:

| Section name    | Start     | End       |
| --------------- | --------: | --------: |
| `.ivt`          | `0x00004` | `0x00100` |
| `.aivt`         | `0x00104` | `0x00200` |
| `.bss`          | `0x00800` | `0x01804` |
| `.bss.end`      | `0x01804` | `0x02804` |
| `.text`         | `0x02000` | `0x028A2` |
| `

[2016-09-11 22:37] mikebdp2 commented on #10
Hi there! I just tested the same firmware hex with a previous bootloader, and this problem didn't disappear. If I install my bootloader together with bp4.0-fw-7.0.hex firmware, BPv4 passes a self test without any errors/freezes and works great with a flashrom. So this problem is definitely caused by a bad firmware hex, not by bootloader...

About '0' and 's' optimization levels: have not tested th

[2016-09-12 13:53] agatti commented on #10
I can reproduce your issue only with 's' optimisation level, which is kind of weird as it used to work (I did tests with that optimisation level on in the past), whilst with '0' it works as intended.

Now, it is my understanding that with a PicKit you can set hardware breakpoints and the like - if so, would you be so kind to break in when the problem occurs and get a bit more information so I can

[2016-09-12 13:58] agatti commented on #10
Well, with the xc16 linkerscript the message does not show up anymore, however USB support is gone - and therefore the chances for me to debug this further until I purchase a PicKit :/  Sigh.

[2016-09-12 20:20] agatti commented on #10
The linkerscript in the repo has been modified to move the code out of the bootloader starting point so that the 'go to bootloader' command actually works - config4 is the address of the bootloader jump vector (also named BLJUMPADDRESS in base.h), and program starts at 0x2000 instead of 0x200.

So far the section start/end addresses look OK to me, but there's something left to try when I get my ha

[2016-09-12 23:53] mikebdp2 commented on #10
Sorry for delay, this is very busy week for me, I will return to this problem as soon as possible (in a couple of days hopefully, so curious to try to solve this problem). _About Pickit: if you are going to get it be careful, on aliexpress for example there are both pickit 2 and pickit 3 for about the same price; pickit 3 could appear to be better because of a higher version number but in reality

[2016-09-13 05:09] agatti commented on #10
I managed to recover my BPv4 without a PicKit, so I was able to give my earlier idea a shot.  Turns out it works just fine with the '0' optimisation level and does not show any warning at all whilst linking.  However, the issue you originally mentioned never went away.  I'll close this and create a new entry that more appropriately describes the issue, if you don't mind.

[2016-09-13 05:12] agatti commented on #10
Original bug report resolved with 354598936db1ec455b73e2ce9ab866e0dd48dea9

[2016-09-13 05:12] #10 closed

[2016-09-13 05:16] agatti opened #11 "Self-test hangs when firmware is built with anything than -O0"
Migrated from #10, original description follows:

[2016-09-13 05:16] agatti commented on #10
Moved to #11

[2016-09-13 05:18] agatti commented on #11
This either requires a hardware debugger to figure out where the code jumps to and what's going on, or attach a UART to USB adapter to AUX1/AUX2 and log messages there.  Currently I don't have either at hand, but help in taking memory dumps and stack traces is gladly welcome.

[2016-09-13 23:05] mikebdp2 commented on #11
I just updated a local repo and re-tried 3rd level optimization build, although it does not produce a warning now (thanks to your linker script commit) - but this freeze problem still exists

While debugging with Pickit2 there is already 3.3V voltage coming from ICSP pins. That means: I cannot connect USB wire at the same time (because it would cause overvoltage) and cannot send a command to initi

[2016-09-13 23:42] mikebdp2 commented on #11
Yes! after I commented 95 line at `selftest.c` - `//UART1RX();` - BPv4 successfully passed a self test (all tests are OK and LEDs are correct) and after that it froze at `Any key to exit` XD That's message BPMSG1250; and right after that - again UART1RX(). So its obvious where to dig now, but I am unsure about how to debug it further

[2016-09-14 23:17] mikebdp2 commented on #11
Oh, it is possible to `#include "base.h"` and then use these functions as a sign of where it reaches:
[code]
Good thing is that feedback - unlike printing messages - does not involve transmitting over UART

[2016-09-15 00:17] mikebdp2 commented on #11
Using this LED approach I found the exact place where it freezes:
**cdc.c --> WaitOutReady() , line 237 --> while ((CDC_Outbdp->BDSTAT & UOWN))**
What happens:
**1)** Inside selftest.c, line 95: after printing the "Space to continue" messages it instantly goes inside
`UART1RX();` <--- baseIO.c, line 477
**2)** This `UART1RX()` consists of just one function call - `getc_cdc();` <--- cdc.c, line 370

[2016-09-15 07:16] agatti commented on #11
Thanks a lot for the investigation!  I need to check with the opcodes description for manually decoding some instructions, but it seems like the compiler generated invalid code for level 1.

For level zero you see at 0xd57c that if the jump is taken it goes back to 0xd576 (meaning w0 is still 0), and if not it continues by returning the function.

For level 1, instead, it looks like that at 0xab4c

[2016-09-15 07:25] agatti commented on #11
Yep, looks like an infinite loop at 0xab4e.  So, the opcode at 0xab4e is 0x37FFFF - which decodes as BRA (PC + 2) + (-1 * 2) -> BRA PC.  I'll see if rewriting that function in proper assembly language can work, or if there are function attributes that do not force invalid code to be generated.

Still, @mikebdp2, thanks a ton for your investigative work!

[2016-09-15 07:32] agatti commented on #11
So, both _WaitOutReady and _WaitInReady have the same invalid code.  the 0xFF 0xFF 0x37 code sequence appears a few more times but looks like it is being used as a filler.  I guess we should file a bug with Microchip, but we need to come up with a simplified test case for them to look at - if they actually do look at those things...

[2016-09-15 07:55] agatti commented on #11
A fix has been added, 94c96d7ca5c691d008e5b37e4ecf1c5d5534e0bc - can you please try it out on your end?  I works on my board but I'd like to hear back from you before closing this bug as fixed :)

[2016-09-15 21:28] mikebdp2 commented on #11
Thank you very much for providing these new commits, @agatti ! However, I just tried the most recent revision it seems that our problems are not solved yet:
- **at levels 0, 1 and s** I am getting again this warning about overlapping... luckily I discovered that if you go to `Bus Pirate project properties -> Conf: [Bus Pirate v4] -> XC16 (Global Options) -> xc16-ld -> General` and unselect "`Allow

[2016-09-15 21:45] mikebdp2 commented on #11
I just tested a firmware build at 0 level and it passes a self test! :) But this self test doesn't test JTAG and I'm sure there would be the problems because of section overlaps. Not sure if we should continue in this issue or create a new one

[2016-09-16 07:40] agatti commented on #11
The JTAG errors you see are caused by the configuration bits being brought in twice, as per http://www.microchip.com/forums/m937316.aspx - which is something I'll fix right away.  For the multiply-defined _WaitOutReadyCompilerFix error, I can add a simple workaround as well.

However I wonder how come I do not get those errors at any levels though, could it be because I am not using an evaluation

[2016-09-16 08:03] agatti commented on #11
40ff85d836ec339c589e022a261f81eaa49b17ab and 3a0778bbf300d680061de1ee658231f389df4b83 should cater to both problems.  I moved the #pragma bits back to main.c - my mistake - so there won't be any duplicated pragma configuration definitions.  Then, I removed the extra labels in the assembly implementations of WaitInReady and WaitOutReady by using locally-defined labels ".something" rather than globa

[2016-09-16 10:51] mikebdp2 commented on #11
@agatti, it seems we almost fixed it: on 0, 1 and s levels - no warnings, no errors, everything seems completely fine there! :smile:  But on level 2 and 3 there is still the same error. For example, level 2:
**cdc.s:455: Error: symbol `.loopOut' is already defined**
[code]
[code]
I don't know why it is working for you :) Just tried installing MPLAB X together with XC16 compiler on another computer

[2016-09-16 10:55] agatti commented on #11
I think I figured it out.  With **all** optimisation enabled (paid version) and levels 2 and 3, xc16 inlines the function call but keeping the label in, whilst with 0, 1, s, or without the PRO mode, it will simply leave it alone.  I am running the non-evaluation, non-paid compiler, so that's why I can make it work.

I'm actually using the same settings that are checked in the MPLAB X project, and

[2016-09-16 11:04] agatti commented on #11
Can you please try to change the function prototypes in cdc.h and cdc.c from: ```void WaitOutReady()``` to ```void __attribute__((noinline)) WaitOutReady()```, and do the same for WaitInReady?

According to xc16's manual it should prevent the compiler from inline the function (and bring the label in all the time).  If that is still an issue then I'll have to move those two functions in a separate

[2016-09-16 11:39] mikebdp2 commented on #11
@agatti, thank you for a great idea! Now it works OK on any optimization level :laughing: Funny thing is that, despite WaitOutReady and WaitInReady are almost the same, there are no problems with WaitInReady so I left it the same as before

[2016-09-16 12:10] agatti commented on #11
Fixed with 2a3b853d2cb34744d2769bb8e4c621e99e9f058e - thanks a lot for your help!

[2016-09-16 12:10] #11 closed

[2016-09-18 16:09] agatti opened #14 "Should non-firmware files be moved?"
Would it make sense to move the hardware schematics, gerber files, and CAD models to another repository?  There is plenty of stuff in there that is of limited usage for whoever wants to grab an updated firmware, after all.

[2016-09-18 16:52] mikebdp2 commented on #14
Yes, it could be a good idea to create it - any mirrors significantly reduce the chance of this information disappearing

[2016-09-18 16:54] mikebdp2 commented on #7
@agatti, USBEprom is providing some test reports for BPv3 at DP forum
(BusPirate firmware 7.0 official thread) You may check it if you are curious...
http://dangerousprototypes.eu/forum/viewtopic.php?f=28&t=8498#p65306

[2016-09-18 17:08] agatti commented on #7
The scripting engine (BASIC interpreter) is disabled by default on v3, I'll see if I can re-enable it without going out of RAM.  However the VREG LED not lighting up is sort of weird - I'll quickly look in the source code to see if anything went wrong when cleaning the selftest module up.

However, maybe it'd be helpful if people would post bugs here rather than on different forums, as not everyon

[2016-09-18 17:17] agatti commented on #7
The LED issue has been fixed with 10e9ea1877d1040ae52ab56a0e042ea916cfce95 - but for the BASIC interpreter I'm not sure about enabling it by default.  Once enabled, v3 has literally 2% of RAM left, which means that the moment we add anything else we have to switch that one off.

[2016-09-18 17:19] agatti commented on #7
For the record, the BASIC interpreter can be enabled here: https://github.com/BusPirate/Bus_Pirate/blob/10e9ea1877d1040ae52ab56a0e042ea916cfce95/Firmware/configuration.h#L306

[2016-09-18 17:47] mikebdp2 commented on #7
@agatti, wow, sure USBEprom will be happy to hear about this. Thank you!
By the way I wanted to rebuild BPv3-bootloader but noticed it doesn't contain MPLAB X file,
and can't find the sources too. Were they publicly released at some point of time?

[2016-09-18 18:01] agatti commented on #7
BPv3's bootloader had a troubled history.  As you can see in /BPv3-bootloader, there are 5 different bootloaders, and there are different steps to take to upgrade from one version to the other.

If you're not using ICD and updating via the serial port, then http://dangerousprototypes.com/blog/2010/01/18/how-to-bus-pirate-bootloader-v4-upgrade/ is what you need to read first - then migrate firmware

[2016-09-18 18:11] agatti commented on #7
So, v4.4 is in firmware-v4.3.  Moreover, here's the diff from v4.3 to v4.5:

[code]

Whose only difference would be to abort the bootloading process if 0xE4 is sent as the first character instead of 0xC1.  If the user was able to reflash a custom firmware, he's good to go and he's better off leaving that bootloader alone :)

[2016-09-18 23:20] mikebdp2 commented on #7
Interesting note about BASIC interpreter: with "s" option it takes just 69% instead of 98% ;)
But yes its optional feature, probably not many people need it, so could be disabled by default

[2016-09-19 19:52] USBEprom commented on #7
Hi all.
Hoping not to mess.
I own a Bus Pirate revision 3.6 and normally I write on dangerousprototypes.com.
Here are some thought about the new firmware v7.0 for the Bus Pirate.
First I have to thanks mikebdp2, agatti, kallisti5 and all the guys involved in the project: THANKS!
So said, here you go:

I had a look into this forum but honestly I understood very few things.
I am just a hobbyist, not

[2016-09-20 03:45] agatti commented on #7
@USBEprom I limited the buffer size on v3 to 127 characters due to memory constraints when trying to fit as many module as possible: https://github.com/BusPirate/Bus_Pirate/blob/10e9ea1877d1040ae52ab56a0e042ea916cfce95/Firmware/configuration.h#L502 - that can be easily set back to 255 but I'm not sure if I can still fit the BASIC interpreter in as well.

[2016-09-20 03:52] agatti opened #16 "DIO does not work"
From the report on #7:

[2016-09-20 03:53] agatti opened #17 "2WIRE macros do not work"
From the report in #7:

[2016-09-20 03:54] agatti commented on #17
Marking it as v4 too as it was not tested on such hardware yet.

[2016-09-20 03:54] agatti commented on #16
Marking it as v4 too as it was not tested on such hardware yet.

[2016-09-20 03:59] agatti opened #18 "I2C ACK/NACK are delayed"
From http://dangerousprototypes.com/forum/viewtopic.php?f=4&t=8546 mentioned in #7:

![naamloos](https://cloud.githubusercontent.com/assets/235740/18657070/5d659b2a-7f29-11e6-8d81-7d8412bfd8e3.png)

[2016-09-20 04:02] agatti commented on #7
@USBEprom The SPI MOSI typo problem is already fixed in firmware 7.00.

[2016-09-20 10:37] mikebdp2 opened #19 "Can't enable BP_ENABLE_PIC_SUPPORT and BP_ENABLE_PC_AT_KEYBOARD_SUPPORT"
When I define BP_ENABLE_PIC_SUPPORT and/or BP_ENABLE_PC_AT_KEYBOARD_SUPPORT, I get many messages like `BPMSG1237 undeclared (first use in this function)`. This happens because messages_v4.h/messages_v4.s have more messages than messages_v3.h/messages_v3.s

I tried replacing v3 message files with v4 to add the missing messages. However there are new errors:

[code]

[2016-09-20 10:39] mikebdp2 commented on #7
@agatti , it is possible to fit many features for BPv3 (including BASIC) but only for three opt levels:
opt0 - **_not enough program memory_**
opt1 - 84% occupied,
opt2 - 94% occupied, faster speed,
optS - 77% occupied, slower speed,
opt3 - **_not enough program memory_**

**./Bus_Pirate/Firmware/configuration.h, lines 304-319**
[code]
BP_ENABLE_HD44780_SUPPORT could also be enabled (takes just ab

[2016-09-20 10:48] agatti commented on #19
The strings packer should be updated in order to allow sections to be included or excluded from a message file.  Right now that's a bit complicated to pull off and integrate with MPLAB X (as in, I have no clue on how to introduce external stages in the build process).

For what it's worth, those message strings were not removed, but were simply missing.  There are two possible choices at the momen

[2016-09-20 11:37] agatti opened #20 "Update the messages system to add conditional string inclusion"
As mentioned in #19, the string packer tool right now brings everything in, regardless of the configuration settings being chosen.  Something smarter would be to update the string packer to read a series of flags from the command line and selectively include/exclude strings from being merged in the .s file and referenced in the .h.  A quick and dirty approach for this would be to include the #defi

[2016-09-20 12:53] agatti opened #22 "Create an Arduino sketch to test protocols on Bus Pirate boards."
To automate testing, something useful would be an Arduino sketch that would exercise the protocols support on the Bus Pirate board.  The only drawback would be having to plug and unplug cables from the Bus Pirate to the breadboard where the Arduino is placed, but that can isn't supposed to be done every time after all.

[2016-09-20 13:28] kallisti5 commented on #22
Oh, nice idea.  That would help sort out all of the issues we've been seeing.  How would the test execute from the BusPirate side?

[2016-09-20 14:26] tbox1911 commented on #7
Hi all folks,
I have a BP v3.5 Firmware v6.1 r1676 (work well as i can tell)
I'm glad to help in testing this new firmawre  (i2c and SPi memory reading)
btw, what is the latest -stable- firmware version, I mean, without the I2C bug at least ?
v6.2-r1981 ?
Thanks

[2016-09-20 14:27] agatti commented on #22
No real idea at the moment.  I'd say that for now it can be done with two serial devices and ```expect```, although more automation opportunities appear if an ESP8266 is used instead of a classic AVR8 on the Arduino side (embedded HTTP+WebSocket server and so on...).  Custom "maintainer mode" menus can probably be added to do something similar to what self-test does at the moment - it shouldn't ta

[2016-09-20 14:54] agatti opened #23 "bp_delay_us is not accurate"
A more precise way to perform delays should be implemented as this might mess with timing-sensitive protocols such as 1-Wire.  Unfortunately I bricked my v4 and I'm away for a week so I can't really work on this at the moment, but before the bricking I made 1-Wire work more reliably by changing the amount of time being waited, and my logic analyser all of a sudden would detect the protocol state c

[2016-09-20 15:02] agatti commented on #23
Oh, forgot to mention that for this to work interrupts need to be disabled beforehand (which is not much of an issue as the board is stuck in a busy loop when this code is ran).

[2016-09-20 19:30] USBEprom commented on #7
@agatti
Thanks for the explanation about the 128 characters instead of 256.
In my opinion, course if it is possible, would be better to bring back to 256 characters the manageable string.
This would ensure compatibility with any documented examples.
I am of the idea that if it can do, would be better keep all the features as possible even if approaching the memory limit.
If this is not possible th

[2016-09-20 19:31] USBEprom commented on #7
@mikebdp2
"it is possible to fit many features for BPv3 (including BASIC) but only for three opt levels:"
"opt0 - not enough program memory"
"opt1 - 84% occupied,"
"opt2 - 94% occupied, faster speed,"
"optS - 77% occupied, slower speed,"
"opt3 - not enough program memory"
"BP_ENABLE_HD44780_SUPPORT could also be enabled (takes just about 1% extra)"

mikeb it would be great, course if possible.
As

[2016-09-22 09:44] tbox1911 commented on #7
@agatti : thx a lot, I'm testing this version with i2c and SPi memory.
from now it seems to work nicely, I let's you know if I found something ;)

[2016-10-01 12:21] USBEprom commented on #7
Hi guys.
Following instructions in the wiki I have MPLAB X and MPLAB XC16 correctly installed.
I have tried to compile by myself a firmware like those named "bpv3_fw7.0_features" that are here: dangerousprototypes.com/forum/download/file.php?id=12142
I took the whole repository here:
https://github.com/BusPirate/Bus_Pirate/archive/master.zip
(I used a Windows XP computer)
I want 256 characters for

[2016-10-05 21:53] mikebdp2 commented on #7
@USBEprom , about your last message above, here is a reply - http://dangerousprototypes.com/forum/viewtopic.php?f=28&t=8498&p=65383#p65383
@USBEprom

These two problematic options cannot be enabled currently for BPv3. They will not occupy any space at compiled firmwares until these features are fixed and enabled. Because of that and "256 length problem", I can't currently create any firmware bette

[2016-10-06 17:16] agatti commented on #19
PC-AT Keyboard support is added with b19edbe4d186e31e0dc06bea6b8f6f2a362def4a

[2016-10-06 17:21] agatti commented on #19
And PIC support is added with 8e9ad1c72f2a197214da83bce0c9b48aff4daa95

[2016-10-06 17:21] #19 closed

[2016-10-06 17:24] agatti commented on #7
For the record, PIC and PC-AT build problems have been fixed.

[2016-10-06 18:17] agatti commented on #16
Ok, this is due to protocol_start triggering an error message, since DIO does not need to perform any action at the beginning.  Besides that, the read/write commands work as expected.

Guess DIO's protocol_start callback will be silent then...

[2016-10-09 14:43] USBEprom commented on #7
@agatti
I can confirm that BP_ENABLE_PIC_SUPPORT and BP_ENABLE_PC_AT_KEYBOARD_SUPPORT now are fixed and do not give problems anymore.
Thanks!

@all
I just compiled a new firmware by myself.
Since BP_ENABLE_PIC_SUPPORT and BP_ENABLE_PC_AT_KEYBOARD_SUPPORT now have been fixed by agatti I have included them.
Whising me 256 characters for the command line I changed line 502 in configuration.h, lines 4

[2016-10-09 15:55] agatti opened #25 "Investigate adding new bus speeds to the SPI module"
As mentioned in https://github.com/BusPirate/Bus_Pirate/issues/7#issuecomment-252490400 - the Bus Pirate can, in theory, have more than just the four SPI speeds it supports at the moment.  This task is supposed to track development for such a thing.
- [x] Read datasheets for v3 (PIC24FJ64GA004) and v4 (PIC24FJ256GB110) to get the appropriate values for the two prescalers.
- [x] Add the entries in

[2016-10-09 15:55] agatti commented on #7
@USBEprom Can you please track development of the SPI feature using https://github.com/BusPirate/Bus_Pirate/issues/25 instead?

[2016-10-09 16:26] agatti commented on #25
@USBEprom - can you please try out the version that is in the spi_extra branch?  To switch to the "spi_extra" branch, check out the code from GitHub to a new directory (just to be sure), and then once you are inside the new source code directory, please run this command: ```git checkout spi_extra```, then please rebuild as normal and see if it works as intended with the extended bus speeds.

[2016-10-09 16:31] agatti commented on #25
Or, if you get confused with Git and such, download one of the sample firmware builds from here:

[bpv3_extra_spi.zip](https://github.com/BusPirate/Bus_Pirate/files/518415/bpv3_extra_spi.zip)
[bpv4_extra_spi.zip](https://github.com/BusPirate/Bus_Pirate/files/518416/bpv4_extra_spi.zip)

**Caveat Emptor:** those builds have not been tested on real hardware besides making sure that speeds can be chos

[2016-10-09 18:59] USBEprom commented on #7
@agatti
**agatti wrote:
USBEprom Can you please track development of the SPI feature using #25 instead?**

Sorry sir, what do you mean?
Honestly I do not know how do it, I have no skills in that kind of things.
I am only capable to do some little testing for what are my knowledge.
However all the informations I have about what I wrote are in the datasheet of PIC24FJ64GA002, page 147 and 150, and h

[2016-10-09 19:06] agatti commented on #7
@USBEprom with "track development" I meant posting under the issue at ```https://github.com/BusPirate/Bus_Pirate/issues/25``` or just click on the #25 link in the message.

Regarding the order of entries, if we reorder things right now people who wrote scripts to automate certain operations (like, connect, send enter, send 'm' + enter, send '5' + enter, send '4' + enter, etc.)  will find their scr

[2016-10-09 19:09] agatti commented on #25
Seems to work on v3 according to https://github.com/BusPirate/Bus_Pirate/issues/7#issuecomment-252505235

[2016-10-09 19:28] USBEprom commented on #25
@agatti
agatti wrote:
Caveat Emptor: those builds have not been tested on real hardware besides making sure that speeds can be chosen correctly. I still strongly suggest you to rebuild from source and flash that code instead.

Sorry to keep bothering you, seems I did a kinda mess by replying in the wrong place.
The test firmware you wrote is functioning well, I reconfirm here in the right place.
H

[2016-10-28 04:21] blacktigersoftware opened #26 "Bootloaders and the pirate-loader don't agree on bootloader address"
Okay, so I'm having issues with flashing my BP3.  Of course, the PGC/PGD trick works, but I'm trying to do this automated from with an app.   The pirate-loader does the following in "fixJumps" sets the jump address to 0xa800, which is the beginning address of the DS30 bootloader.  However, the DS30 bootloader  sets a vector at 0xabf8  (the last 8 bytes of program memory).

Which should be used?

A

[2016-10-28 19:27] agatti commented on #26
No need to split issues, no worries.  I'll look into that, but I need more information regarding the flashing failure.  That also occurs on v4, and it is not an error on that revision.  I seem to recall that v3 should it be unaffected as well.

So, would it be possible to post the #defines set in configuration.h that apply to your particular firmware (if you are building your own), or where the fi

[2016-10-28 19:29] agatti commented on #25
@USBEprom can you please let me know about the higher SPI speeds concerns expressed in https://github.com/BusPirate/Bus_Pirate/issues/25#issuecomment-252830924 so I can either drop the branch or merge it in?

[2016-10-28 19:59] agatti commented on #26
Incidentally, you may want to check out commit d357eee545b85a86206af7d4c2e9fb458da3bd37 - I am able to build a 4.5 bootloader for BPv3 using MPLAB X that way.

[2016-10-28 20:08] agatti commented on #26
Anyway, since I'm still awake... The pirate-loader binary is right in performing the fixup: in devices.inc, if you look the FLASHSIZE macro for the PIC24FJ64GA002 you'll see it's set to 0xAC00, then in ds30loader.s, STARTADDR is set to (FLASHSIZE - (2 * PAGESIZE)). A PIC24 code page is 512 instructions big, therefore you get 0xAC00 - (2 * 512) = 0xA800.

Hope that helps.

[2016-10-28 22:03] USBEprom commented on #25
@agatti
Really sorry my bad.
I could not figure out where the new files were.
I am really babo, thank you agatti for them!
Now that I have your modified spi.c I built some new version up 256 characters command line and all the features but no BASIC and up 32 characters command line and all the features, BASIC too.
For what I can see your improvements work well, any problem from my point of view.
I

[2016-10-29 00:35] blacktigersoftware commented on #26
agatti --- thanks, the bootloader 4.5 works great.  I put the r2151 flash on it.  I'm back after 2+ years and want to finish my pirate app.  Starting on the BP3, but got a BP4 laying around here somewhere.  I think it is important to change the app on the fly without having to hardwire PGC/PGD.  The bootloader 4.5 should allow you to exit after a flash and do a reset by sending the '#' command.  S

[2016-10-29 05:09] blacktigersoftware commented on #26
just a quick follow up.  For some reason the BP 7.0 flashes attempt to write into the bootloader area.  I modified my flasher to log the error but roll on.  I think it has to do with the reference to 'abf8'.  The linker thinks that since we are referring to that address, we must have put something there.  The linker has an option to fill flash, but not to ignore flash..... go figure. .....
-------

[2016-10-29 05:09] #26 closed

[2016-10-29 16:53] USBEprom commented on #17
Hi guys.
I am figuring how fix the problem of macro (1) and macro(2) in raw2wire mode.
I found some clues here

http://dangerousprototypes.com/forum/viewtopic.php?f=28&t=6097#p56809

where is stated that the issue could be in raw2wire.c and bitbang.c

raw2wire.c (lines 183-188)

// R2W macros

//ISO 7813-3 Answer to reset macro for smartcards
// syntax: a0%255@^a
// **depricated, some cards are MS

[2016-10-30 12:25] agatti commented on #17
Thanks a lot for the report.  As the comment for r2wMacro_78133Write says, some cards are wired to use MSB rather than LSB as per ISO compliance so your changes would make those cards unusable.

Would it be possible for you to set your BP into LSB mode and try again without any code modifications?  Also, something that would help would be some captures from a logic analyzer for the "wrong" command

[2016-10-30 19:49] USBEprom commented on #17
@agatti

Normally I already use LSB setting purposely doing stuff on chip cards like sle4442.
I tried to set MSB instead of LSB and vice versa too, but nothing changes.
The output on the terminal is always wrong, it is 0x45 0xC8 0x08 0x89 instead of 0xA2 0x13 0x10  0x91.
The firmware that I built from myself acts exactly the same way as the official ones released after version 4.2
I have no any lo

[2016-10-30 21:21] USBEprom commented on #25
@agatti

A friend of mine has just checked with his logic analyzer the correctness of the new speeds in SPI menu.
Seems that from 1 to 7 all it is OK, but starting from 8 until 12 do not work.
Briefly:

Set speed:
 1.  30KHz OK [old]
 2. 125KHz OK [old]
 3. 250KHz OK [old]
 4.   1MHz OK [old]
 5.  50KHz OK [NEW]
 6. 1.3MHz OK [NEW]
 7.   2MHz OK [NEW]
 8. 2.6MHz (DOES NOT WORK) [NEW]
 9. 3.2MHz (D

[2016-10-31 14:09] agatti commented on #17
Now things are much clearer, thanks!  I'll look into this as soon as possible.

[2016-10-31 14:42] agatti commented on #17
@USBEprom, can you please try this:

before `void r2wMacro_78133Read(void){` please add:

[code]

and inside `r2wMacro_78133Read` this:

[code]

should become:

[code]

This will flip the byte order of the data as it is recorded, thus make board honour the LSB/MSB setting you set before.  If this works, I'll go on and patch this for next release.

[2016-10-31 16:48] USBEprom commented on #17
@agatti

I made the changes you have written but MPLABX compiler gives me some errors as follow:

"F:\MPLABX\XC16\bin\xc16-gcc.exe"   ../raw2wire.c  -o build/BusPirate_v3/production/_ext/1472/raw2wire.o  -c -mcpu=24FJ64GA002  -MMD -MF "build/BusPirate_v3/production/_ext/1472/raw2wire.o.d"        -g -omf=elf -DXPRJ_BusPirate_v3=BusPirate_v3  -no-legacy-libc    -mlarge-code -mlarge-data -O2 -I"../..

[2016-10-31 16:50] USBEprom commented on #25
@agatti

The usual friend of mine has rechecked with an oscilloscope and actually them all are functioning well.
It has been a fault of his cheap logic analyzer which can manage only 5V and 3,3V levels while moving up in frequency the amplitude of the signal generated by the Bus Pirate is below its acquisition threshold.
So in the end all the entries into the menu are working in the correct way as

[2016-10-31 16:51] agatti commented on #17
@USBEprom my bad, I edited the post after I found the same error myself, probably you didn't get the edited version.  I changed the code in https://github.com/BusPirate/Bus_Pirate/issues/17#issuecomment-257312046 - please try again and let me know.  Also, can you please try the code in both LSB and MSB mode? So I can make sure to flip the values only on the right LSB setting.

[2016-10-31 17:54] USBEprom commented on #17
@agatti

OK, thank you!
I made what yuo have written and now it works!
By querying a 4442 card I get 0xA2 0x13 0x10 0x91 when in Bus Pirate the order of the bytes is set for LSB, while instead 0x45 0xC8 0x08 0x89 when it is set MSB.
Issue in macro(1) is gone, now it works by honoring LSB/MSB setting (L/l syntax command of the Bus Pirate) in the right way in accordance with the type of card used.
H

[2016-11-01 07:11] agatti commented on #25
@USBEprom Ok, thank you for checking - I'll merge this soon!

[2016-11-01 07:20] agatti commented on #25
Closed with cf293ece66ff76cf9cb6edceae0f3a5ad28bc579

[2016-11-01 07:20] #25 closed

[2016-11-01 07:22] agatti opened #27 "Add the rest of protocol documentation in markdown format."
Work had been started to migrate protocol usage documentation from Dangerous Prototypes' wiki to a set of markdown pages to be put in the repo, there are a few more to be migrated.

- [x] 1-Wire
- [x] DIO
- [x] HD44780
- [x] I²C
- [x] JTAG
- [x] PC Keyboard
- [x] PIC
- [x] Raw 2 wire
- [x] Raw 3 wire
- [x] SPI
- [x] UART

[2016-11-01 07:23] agatti commented on #27
@kallisti5 do you have the time to pick this up and finish the documentation migration?

[2016-11-01 07:24] agatti commented on #18
This might be related to #23

[2016-11-01 07:26] agatti commented on #17
@USBEprom thank you for confirming this works!

Incidentally, the changes I applied are only for macro (2).  If that still fails then I guess I have to set myself some hardware rig to perform further tests.  In fact, macro (1) is nothing more than a CS line pulse and then macro (2) being executed shortly after.

[2016-11-01 11:17] agatti opened #28 "Add OpenOCD support for v4"
OpenJTAG support is currently only enabled for v3.  There were some earlier attempts at porting said code to v4 but nothing stable ever came out of it, as far as I know.

[2016-11-01 11:20] agatti opened #29 "Add native SWD (ARM Serial Wire Debugging) support"
A script-driven approach has been tried here: http://www.willdonnelly.net/blog/bus-pirate-serial-wire/ .  Something worthwhile would be to reimplement this natively without the need for bit-banging data lines.

[2016-11-01 11:21] USBEprom commented on #17
@agatti

first, many thanks for having fix macro(1)!

Then, because I am babo and I do not know programming, I can not but note that it appears that in macro(2) there is no trigger to start it.
I mean, in macro(1) there is something like this

	//Reset needs to start low

	bbCS(0); //bpAuxLow();

	bp_delay_us(0xff);

	//RESET HIGH

	bbCS(1);

	//clock tick

	bbClockTicks(1);

	//reset low again

[2016-11-01 11:28] agatti commented on #17
@USBEprom take a look at this:

[code]

the `c` variable is the macro number you call from the menu.  0 will print the options menu, 1 will pulse CS *and* perform a bus read, while 2 will just perform the bus read.  `case ISO78133ATR:` does not have a `break` statement so execution will flow into `case ISO78133ATR_PARSE:` and read the data from the bus.

If the device does not send any data unless

[2016-11-01 11:37] agatti commented on #17
Fixed with 3efb35903aa79e41af5ebab00024e3be4bc881a1

[2016-11-01 11:37] agatti commented on #17
If there are further development on this, feel free to reopen the issue so I can take another look at it.

Thanks for your help!

[2016-11-01 11:37] #17 closed

[2016-11-01 13:38] agatti commented on #29
An very simple initial implementation for synchronous SWD communication can be found here: https://gist.github.com/agatti/a92574bf726706f77fa26b9fc4934ee2 although I do not have the appropriate hardware to try it out at the moment...

[2016-11-01 17:35] USBEprom commented on #17
@agatti.

Sorry to bother you again.
I am babo for sure but something is weird in the latest Bus_Pirate-master.zip that I have just downloaded here from github (https://github.com/BusPirate/Bus_Pirate/archive/master.zip).
In there the file raw2wire.c is different from what you have just written.
Starting from its line 162 until line 182 there is

void R2Wmacro(unsigned int macro) {
	switch(macro)

[2016-11-01 19:11] agatti commented on #17
@USBEprom sorry, you're right - I missed one line when patching.  I'll fix this right away.

Regarding changing the functions name, that's also correct as they do not match the prompts.  Moreover, maybe the reason macro (2) exists is to listen for data on the bus when the ATR signal is being sent from something else - which in a way is what the Bus Pirate was meant to be used for.

Anyway, I'll do

[2016-11-01 19:18] agatti commented on #17
@USBEprom I added a proper fix with d3e0173a9ea6f8389087a00431399a827e35845c - apologies for the inconvenience.

[2016-11-01 20:17] USBEprom commented on #17
@agatti

You are really great!
Now it work correctly, many thanks!
I do not even know how you are able to do all this alone, actually you are doing all the hard work by yourself, while at me the eyes are crossed after 2 seconds.
I fully agree with your latest explanations regarding changing the functions name and about the possible reason whereby macro(2) exists to listen for data on the bus when

[2016-11-03 19:34] USBEprom commented on #7
Hi guys.
I am trying to understand whether it is possible or not to compile for the Bus Pirate revision 3 a fimware version that allows to simultaneously have up to 256 characters for the command line and BASIC scripting capabilities too.
I am not a software engineer but I understood that enabling 256 characters for the command line uses too much room in RAM so that BASIC interpreter environment c

[2016-11-03 19:37] agatti commented on #7
@USBEprom you can try changing PGMSIZE in basic.h.  Right now it's set to take 1kb of RAM, if you lower it to 512 bytes then in theory you should be able to fit a 256 bytes commandline buffer.

[2016-11-03 21:40] USBEprom commented on #7
@agatti

Thank you agatti!
For 256 bytes in command line I had to set 256 in line number 105 of basic.h so that it has changed like this:

#define PGMSIZE		256

Using 512 I can not reach the hexadecimal file not even using the "s" option while compiling because the file is over the limit of available RAM for the Bus Pirate revision 3.
However even if I have got the hexadecimal the BASIC feature do

[2016-11-04 21:51] USBEprom commented on #7
@agatti

Agatti as always you are the greatest, while I am the most babo in the whole world!
It does work exactly like you have written, it was that I am babo by putting together basic.h and configuration.h from different folders!
Using the correct ones it works!
Please forget my previous post, it is totally wrong, my fault, agatti was right already from the beginning!
I finally, digging for diggi

[2016-11-07 12:14] tbox1911 commented on #7
@USBEprom ,
Glad to ear that good news,
is it possible to have a copy of your firmware , the Golden One !
( don't see any link, to download it)

I want to test this version
Big thanks

[2016-11-07 19:22] USBEprom commented on #7
Hi tbox1911.
All the firmwares I built I put them on the forum of dangerousprototypes.
However here you go what you are looking for:

http://dangerousprototypes.com/forum/viewtopic.php?f=28&t=8498&start=45#p65498
http://dangerousprototypes.com/forum/viewtopic.php?f=28&t=8498&start=45#p65500

Please note that the firmware compressed with option "1" in the first link have to be converted uppercase f

[2016-11-07 20:23] USBEprom commented on #16
What about how to make silent the "protocol_start callback" of DIO?
I have tested how behave the stock firmware v5.10 while DIO is used.
Here you go:

#
RESET

Bus Pirate v3b
Firmware v5.10 (r559)  Bootloader v4.4
DEVID:0x0447 REVID:0x3046 (24FJ64GA002 B8)
http://dangerousprototypes.com
HiZ>m
1. HiZ
2. 1-WIRE
3. UART
4. I2C
5. SPI
6. 2WIRE
7. 3WIRE
8. LCD
9. DIO
x. exit(without change)

(1)>9
Read

[2016-11-10 18:15] agatti commented on #16
The code involved for such a thing is in bus_pirate_core.c (check the definitions marked with `#ifdef BP_ENABLE_DIO_SUPPORT`).  I'll see what I can do for this, but no real guarantees - the code handling the interactive prompts is in dire need of a cleanup...

[2016-11-10 18:32] agatti commented on #16
A potential fix has been committed with 77adba645b34b5698293308d77c5562439bcd9b0 - @USBEprom can you please give this one a try and see if it fixes your problem?  It does here, but maybe you're using DIO mode in more complicated ways than I just tested.

[2016-11-10 19:36] USBEprom commented on #7
@agatti

Hi sir.
You are the greatest and incredibly fast!
For me your changes work really fine.
Actually I do not use DIO mode in too complicated ways.
For me it was more of a cosmetic issue.
Now it works well for me, but of course I intend to deepen further.
I do not think, however, that problems will arise.
Here you go a snapshot of my terminal:

m
1. HiZ
2. 1-WIRE
3. UART
4. I2C
5. SPI
6. 2WIR

[2016-11-10 19:41] agatti commented on #16
Closing as per https://github.com/BusPirate/Bus_Pirate/issues/7#issuecomment-259786120

[2016-11-10 19:41] #16 closed

[2016-11-10 20:32] agatti commented on #14
Done with d12478f3f3d242c52f00da211adcda6b7c222c66.

[2016-11-10 20:32] #14 closed

[2016-11-11 02:47] kallisti5 commented on #14
Just chiming in that I 100% agree with this :-)

Great work so far @agatti !

[2016-11-11 03:00] kallisti5 commented on #28
I remember trying to get JTAG going on the BPv4 a few years back... I thought it worked,  but then I got a FlySwatter 2. Must of not worked very well :-|

[2016-11-11 11:31] agatti commented on #20
I finally found out how to achieve this.  The problem is to be able to do it on a cross-platform fashion (a.k.a. "how about windows?").  So, changing `/Firmware/BusPirate.X/Makefile` allows for pre/post compilation steps so the string files can be generated upon changes in `configuration.h`, but this requires having Python installed and introduce horrible workarounds for having one single tree tha

[2016-11-11 11:42] agatti commented on #20
On second thought, embedding the ifdef/endif markers in the input string file and generating the appropriate #ifdef/#endif and .ifdef/.endif blocks in the output files might be an option.  Let's see...

[2016-11-12 09:21] agatti opened #31 "Rename repo URL?"
Right now we've got BusPirate/Bus_Pirate, BusPirate/hardware, and BusPirate/bp-cases.  Maybe a bit more consistency won't hurt in the long run, so I guess we should migrate to one single repo naming scheme.  Any ideas on that?

[2016-11-12 13:36] USBEprom commented on #7
Hi guys.
Today I am trying to build a new firmware release starting from the very latest cleaned up repository.
Because I want to compile for the Bus Pirate revision 3 a fimware version that allows to simultaneously have 256 characters for the command line and BASIC scripting capabilities I need to change basic.h putting #define PGMSIZE 512 instead of the standard #define PGMSIZE 1024 that there i

[2016-11-12 14:51] agatti commented on #7
It has been moved to configuration.h (see also https://github.com/BusPirate/Bus_Pirate/blob/master/Firmware/configuration.h#L405).

[2016-11-12 17:44] USBEprom commented on #7
@agatti

Thank you sir, I get it now.
So I have changed lines 304-319 into configuration.h for setting the features I want.

#ifdef BUSPIRATEV3
#undef BP_ENABLE_1WIRE_SUPPORT
#undef BP_ENABLE_BASIC_SUPPORT
#undef BP_ENABLE_DIO_SUPPORT
#undef BP_ENABLE_HD44780_SUPPORT
#define BP_ENABLE_I2C_SUPPORT
#define BP_ENABLE_JTAG_SUPPORT
#undef BP_ENABLE_PIC_SUPPORT
#undef BP_ENABLE_PC_AT_KEYBOARD_SUPPORT
#u

[2016-11-12 17:52] agatti commented on #7
I fixed the build error with https://github.com/BusPirate/Bus_Pirate/commit/4f44d0883afa4d1ad3f8d6de1bcc4c27a2e17422, thanks for noticing.

If you want to reorder the SPI bus speeds, you have to edit the string files in tools/packstrings/bus_pirate_v?_strings.txt, regenerate the messages_v?.h/messages_v?.s running the python script in tools/packstrings, overwrite the message files in the Firmware

[2016-11-12 21:35] USBEprom commented on #7
@agatti

Thank you very much sir, now it work!

http://dangerousprototypes.com/forum/viewtopic.php?f=28&t=8498&start=45#p65526

Thanks also for the explanations about what I asked.
These informations are useful to me because I am trying to figure out the matter so I can fend for myself without disturbing anyone.

[2016-11-13 11:41] USBEprom commented on #7
Hi guys.
Now something a bit hard that I know nothing if it is possible to do or not.
Something that would be an enhancement.
Perhaps this is not the right place to put it, however here is what it is.
Into the dangerousprototypes forum at this link it started a discussion about possible improvements for the Logic Analyzer side of the Bus Pirate (http://dangerousprototypes.com/forum/viewtopic.php?f

[2016-11-13 12:56] agatti commented on #7
@USBEprom can you please create a new issue for this? I'm going to close this one as it is no longer for "test firmware on v3" anymore.

[2016-11-13 16:12] USBEprom opened #32 "Enhanced Logic Analyzer"
Hi guys.
Now something a bit hard that I know nothing if it is possible to do or not.
Something that would be an enhancement.
Perhaps this is not the right place to put it, however here is what it is.
Into the dangerousprototypes forum at this link it started a discussion about possible improvements for the Logic Analyzer side of the Bus Pirate (http://dangerousprototypes.com/forum/viewtopic.php?f

[2016-11-13 16:18] USBEprom commented on #7
@agatti

Sorry sir.
You are right.
I edited my previous post.
I hope I have added the new issue in the proper way.
Apologize for having put it in the wrong place.
Thanks.

[2016-11-13 16:45] USBEprom commented on #26
I know I am babo as hell.
I have a Bus Pirate v3.6 whic has bootloader 4.4.
Can I use BPv3-Firmware-v4.5.hex (\Bus_Pirate-master\BPv3-bootloader\v4xtov43-bootloader-update\BPv3-Firmware-v4.5.hex) inside the v7.0 firmware repository in order to upgrade my Bus Pirate?
The error in the ending while I am uploading firmware into the device annoys me too much.
I know this is already closed, so apologize

[2016-11-13 17:34] #7 closed

[2016-11-14 03:17] blacktigersoftware commented on #26
The error comes from pirate-loader, and will still come from pirate-loader after upgrade.  The only advantage comes by being able to exit boot-loader by sending a command.  The pirate-loader for the BP4 logs this better.  The real deal is that the hex file has commands which would overwrite the bootloader and so it complains with a 'P' error result (presumably 'P' means protected).

[2016-11-14 14:02] agatti opened #34 "7.1 release checklist"
- [ ] Prepare builds for v3 and v4.
- [ ] Test builds.
- [ ] Bump version.
- [ ] Create build packages.
- [ ] Write changelog.
- [ ] Remove old packages from repo.
- [ ] Upload builds to Github.
- [ ] Announce the release to dangerousprototypes.com.

[2016-11-14 14:18] agatti opened #35 "Cleanup contents of the 'scripts' directory"
Right now lots of small bits and pieces inside `Firmware/scripts` are accumulating bit rot, and possibly do not work any longer.  It's time to rescue what can be saved, give it a new coat of paint, and get rid of the rest.

[2016-11-14 15:08] USBEprom commented on #26
Ok, thanks!
So it is possible to use the new BPv3-Firmware-v4.5.hex with my Bus Pirate v3.6 instead of the stock bootloader 4.4 but however still it does not fix the problem of the error at the end while upgrading with Pirate-Loader.
The only advantage would be to be able to exit from the bootloader state by sending a command instead of having to unplug and replug the Bus Pirate.
I get it now.
Tha

[2016-11-15 12:31] brimston3 commented on #27
DIO - Needs an expert. The wiki refers users to the binary protocol mode and I'm not sure if it dumps you into binary mode from here or what.
PIC and HD44780 appear to require hardware support, without which, they are nonfunctional.
JTAG - superseded by openocd jtag mode.

I'll give the last 3 a shot (not DIO) today or tomorrow, but they'll likely need a lot of cleanup.

[2016-11-15 13:02] agatti commented on #27
PIC needs hardware support only in certain cases, according to http://dangerousprototypes.com/docs/Pirate_PIC_Programmer ("It currently supports a limited number of PICs while other features are stabilized. Some PICs require a 6-13volt to enter programming mode, these will require an adapter.").  But to be honest I don't know whether this remark is still valid or not.

JTAG technically is still av

[2016-11-19 19:29] brimston3 commented on #27
If the PIC has LVP disabled (MCHP ships recent devices with LVP enabled), it does need HV on MCLR. The HVP adapter will not work with a BPv4+ without a pinout adapter.

[2016-11-20 06:22] agatti commented on #23
Fixed with 4685d15bd79e20e000c10723f2f57882b17ad90e.

[2016-11-20 06:25] agatti commented on #27
Fair enough, I guess that pretty much the rest of DP's wiki needs to be brought up to date then.

[2016-12-08 15:11] USBEprom commented on #23
Sorry to bother.
I know I am babo as hell and more serious this issue is closed, I wonder how it works though, because it seems to me that now I2C does not honor the target speed choosed into the menu.
No matter the speed that is chosen (~5kHz, ~50kHz, ~100kHz, ~400kHz), then the responses that are shown in the terminal seems are slow, much slower than setting for ~5kHz using previous versions of

[2016-12-10 08:14] agatti commented on #23
The changes applied for #23 were supposed to fix 1-Wire, where the delays are grossly miscalculated and causing the protocol to simply operate out of spec.  I wonder why I2C stops working since the two calls to bp_delay_us in i2c.c are commented out...

Would it be possible to get some logic analyser dumps / screenshots / etc. for before and after https://github.com/BusPirate/Bus_Pirate/commit/468

[2016-12-11 16:53] USBEprom commented on #23
@agatti

Sorry for the late reply.
Sadly I know nothing about why I2C stops working while the patch #23 is applied.
However the usual friend of mine did some shots that I have not any analyzer or oscilloscope.
Based on what is possible to see the new firmware built starting from the current repository where patch #23 is applied it works with a  reduced speed clock.
By setting I2C for ~50kHz into t

[2016-12-19 21:14] agatti commented on #23
@USBEprom Can you please to try changing the value of FCY in base.h to see if things improve?  I'm not sure if v3 runs at the same frequency as v4.

Is v3 supposed to run at 16MHz too?

[2016-12-19 22:29] USBEprom commented on #23
@agatti

Unfortunately inside of base.h I can not find the word FCY, where it should be?
I know I am pretty babo, so sorry please.
However based on this:

http://dangerousprototypes.com/docs/index.php?title=BPv3_FTDI_UART_demo&oldid=16133

It is stated that "The Bus Pirate uses an 8 MHz internal clock multiplied by a 4x PLL to produce a 32 MHz CPU clock" and when I have calculated the prescalers f

[2016-12-20 07:02] agatti commented on #23
@USBEprom FCY is here: https://github.com/BusPirate/Bus_Pirate/blob/master/Firmware/base.h#L24

Now, the only difference I can see that might impact delays would be linking libpic30 together with the project.  I'll see if I can just extract the delay function alone and see if that helps.

[2016-12-20 21:12] USBEprom commented on #23
@agatti

OK, still you won while I lose being a total babo.
Of course you are right the parameter FCY is inside **base.h** as you have written, in the current repository though!
Yesterday I was looking for it inside the previous release of the Bus_Pirate-master, not the last one, so it is quite normal that I did not find it!
However today using the current repository I have built a test firmware f

[2016-12-21 01:31] meowsqueak commented on #6
I have a v2go that I've just dug out of storage - although it looks like I'm a few months too late in this respect. It's probably not worth reinstating v2 support _just_ for me, but if a few more users speak up and you did want me to validate anything I could help.

[2016-12-21 12:18] agatti commented on #6
@meowsqueak v2go is 99% compatible with v3.  If you don't plan to read from the ADC then you should be able to just use the firmware for v3 as it is now.

I'll come up with a custom build for v2go this weekend for you to try, but only as long as you are able to un-brick it if I get something wrong (as in, getting close and personal with PicKit and reflashing the factory image yourself).

[2016-12-21 12:48] agatti commented on #23
@USBEprom can you please try to build this version and see if things change?  The only difference is that libpic30 is not linked in anymore, but its delay function has been merged in anyway - as it allows for 1-Wire to function reliably.

[fw_no_libpic30.zip](https://github.com/BusPirate/Bus_Pirate/files/666336/fw_no_libpic30.zip)

[2016-12-21 15:33] elsni commented on #7
Just bought a new BP 3.6. It has Firmware v5.10 preinstalled, but unfortunately it has no JTAG support, so I need to flash a different one.

After following a bunch of red herring links wasting almost an hour, I finally managed to find pirate-loader and the 7.0 fw hex files for download.

Unfortunately I can't flash the fw. pirate-loader tells me "Checksum does not match, line 4" on every hex file

[2016-12-21 16:28] agatti commented on #7
@elsni can you please let us know which OS you're using and whether you built the pirate-loader binary yourself from this source code repo or if you're using a pre-built version that came with older firmware packages?

[2016-12-21 21:22] meowsqueak commented on #6
@agatti thanks, I have a RPi and a Ci40, both of which can be configured as PIC programmers, and I can get hold of a PicKit3 if need be, so that should be OK.

No rush though - I'm not able to do much for a week or two anyway. Create a new issue, or contact me at meowsqueak at gmail dot com if you want to move this conversation from here.

[2016-12-21 22:36] USBEprom commented on #23
@agatti

Unfortunately nothing happens.
I have just built a new test firmware starting from your fw_no_libpic30.zip but the speed of the clock for the I2C protocol is still wrong, too low compared to what is expected.
As your reference here you go a couple of shots:

![fw_no_libpic30](https://cloud.githubusercontent.com/assets/22304580/21408530/d5da47f0-c7d5-11e6-80b3-abf751235608.jpg)

Thank you

[2016-12-21 22:53] USBEprom commented on #7
@elsni

Do you mean also the factory ones by writing "on every hex file"?
The factory firmwares should already be in the correct format without any need of having to convert them, then at least those should work without problems.
What do you use to convert the hexadecimal content?
What is the operating system you are using?

[2016-12-21 23:03] USBEprom commented on #6
@agatti

agatti wrote:

Sound good, as always you are the best!
Thank you sir.

[2016-12-22 14:11] elsni commented on #7
Hi,
Thank you @agatti and @USBEprom  for quick reply!
At fist I used Windows 10 and the precompiled binary from /jevinskie/bus-pirate and the hex files in that repository.
I tried again on my kubuntu machine but I compiled pirate-loader from source. That worked, I managed to flash fw 6.3 successfully from a hex file in that repository. I did not convert any binary file to hex by myself.
Unfortunat

[2016-12-22 20:11] USBEprom commented on #7
Hi elsni.
It is weird that the firmware you have used (https://github.com/jevinskie/bus-pirate) does not support JTAG.
This because here:

http://dangerousprototypes.com/docs/Bus_Pirate#JTAG

it said that 6.0 and 6.1 firmwares do contain JTAG terminal mode, hence they have the binary JTAG mode.
However take a look at these:

http://dangerousprototypes.com/docs/Bus_Pirate_firmware_change_history

M

[2016-12-24 20:06] agatti commented on #6
@meowsqueak can you please try to flash a v3 firmware from http://dangerousprototypes.com/forum/viewtopic.php?f=28&t=8498&start=45#p65526 and try to print the pins state with the `v` command?

If you take a look at https://github.com/BusPirate/Bus_Pirate/commit/674d801c3bc34823f4cb81748dfad0d044f05206#diff-e77a498013a2a203e09c0d8eb04279ed you can see that v2go is essentially the same as v3, except

[2016-12-25 01:46] DavidAntliff commented on #6
@agatti thank you, I will try this in the first week of 2017 and report back here.

[2016-12-25 06:49] agatti opened #37 "Move to M-Stack for USB support?"
Maybe migrating the USB stack from the hacked up version that is currently running (and has not been updated in a few years now) to something a tad more modern and still supported could be beneficial to the project.

M-Stack is a GPL/Apache2 licensed USB stack for PIC microcontrollers that allows for a whole lot of options, and more importantly it is being currently maintained.  It is available at

[2016-12-25 15:58] agatti commented on #23
@USBEprom I think I found the problem...  Can you please give this version a try?  It theoretically should fix the extra delay issue on I2C, but I cannot really test things at the moment.

[firmware-delay-fix.zip](https://github.com/BusPirate/Bus_Pirate/files/672255/firmware-delay-fix.zip)

[2016-12-25 17:23] USBEprom commented on #23
@agatti

Before all merry Christmas to you and thanks a lot for your hard work.
Unfortunately nothing happened.
I have just built a new test firmware starting from your firmware-delay-fix.zip but the speed of the clock for the I2C protocol is still wrong, too low compared to what is expected.
As your reference here you go a couple of shots:

![firmware-delay-fix](https://cloud.githubusercontent.co

[2016-12-26 11:58] csholmq commented on #28
I've gathered only v3 is supported by OpenOCD. But now with discontinued firmware by DP and compilation errors in the community build, it would be super if support could be added for the v4!

[2016-12-26 12:03] csholmq commented on #31
I think multiple repos are still nice to avoid too much clutter.

Perhaps:
/Hardware
/Firmware
/Printables

Or perhaps that 3d-files are added to /Hardware?

[2016-12-27 01:57] MattWeatherford commented on #37
As a casual observer of the Bus Pirate Github repository, and an owner
of a PB v3,  this USB stack upgrade sounds like a really good idea for
the long term health of the project - what would be required to get this
effort underway?

On 12/24/16 10:49 PM, Alessandro Gatti wrote:

[2016-12-27 03:27] pixeldoc2000 commented on #7
Hey,
i've tested Community Firmware v7.0 on my BusPirate v3b.

Hardware: BusPirate v3b
Bootloader: v4.3
OS: Windows 7 x64

pirate-loader.exe from https://github.com/mikebdp2/Bus_Pirate/tree/master/BPv3-bootloader/v4xtov43-bootloader-update/utilities/pirate-loader.exe

# Firmware Files
bpv3_fw7.0_opt0_18092016.hex
bpv3_fw7.0_opt1_18092016.hex
bpv3_fw7.0_opt2_18092016.hex
bpv3_fw7.0_optS_18092016.he

[2016-12-27 09:01] USBEprom commented on #7
Hi pixeldoc2000.
First thanks for reporting Community Firmware v7.0 on a real BusPirate v3b.
Unfortunately your Bus Pirate could be really broken.
In order to troubleshoot the problem you can chase it doing what it is explain here:

http://dangerousprototypes.com/forum/viewtopic.php?f=4&t=7047

Basically you can test all the pins of your Bus Pirate for short circuit, cold welds or any else fault.

[2016-12-27 09:17] psolyca commented on #37
As MattWeatherford I am following Bus Pirate Community Firmware as an observer for now and casual user of my PB v3b mainly used for UART and JTAG.
If this new stack is lighter than the original stack it could also be better for futher development.
You could count on me to test the firmware.

[2016-12-27 14:58] pixeldoc2000 commented on #7
Hi @USBEprom.
i've already did some hardware testing. Looks like i've burned the 74HC4066D Chip on my BP. I've ordered a relacement.

BTW. i've used the BF Self Test WIKI Article: http://dangerousprototypes.com/docs/Bus_Pirate_self-test_guide

But this is OT.

I'll report back i've i can my BP.

[2016-12-27 22:31] avongluck-r1soft commented on #34
Great work agatti!  Sorry that I haven't been helping much lately.
I have a v4 and think I'll pick up a v3 to help test out 7.1.

[2016-12-27 22:39] kallisti5 commented on #31
/bp-hardware
/bp-firmware
/bp-printables

or

/pirate-hardware
/pirate-firmware
/pirate-stl

Those would look a bit more precise when checked out (aka, "Firmware" on your machine is a bit generic)

[2016-12-28 03:55] kallisti5 commented on #34
Just tested on my BPv4.0... master works great.

**Steps**: Upgraded from 7.0 to 7.1 using PicKit2 attached to BPv4 via pk2cmd
**Compiler**: XC16 - v1.30
**Data**: 70% utilized
**Program**: 36% utilized

pk2cmd output (my bootloader got screwed up with my early build attempts last year)
[code]

test
[code]

[2016-12-28 03:59] kallisti5 opened #38 "Inability to enter bootloader?"
Might be an issue with the bootloader after upgrading to v7+ (it could be just me though, I was really hacking on mine early on in the fork)

[code]
HiZ>$
Are you sure? y
BOOTLOADER

(1)>   <disconnect>   <reconnect>
HiZ>
[code]

[2016-12-28 13:39] agatti commented on #37
Right now there are two main issues regarding switching to M-Stack.

First, pretty much all code in the repo is public domain or CC-0 (with the exception of some XSVF support code for v4 that nobody ever used, I think), while M-Stack is Apache2/GPL.  I am not an expert when it comes to mixing and matching licences, so I am not sure whether mixing Apache2 and CC-0/PD might be possible from a legal

[2016-12-28 13:44] agatti commented on #23
@USBEprom thanks for trying that out.  I'll do some more test on my end with some sample circuits (I only have SPI devices to test with at the moment) and hopefully see what can be done.
However we've been delaying v7.1 for quite some time now, so there might be chances that we will release said version with that I2C issue in.  Still, we'll look into this and try our best to fix this issue, hopefu

[2016-12-28 13:47] agatti commented on #28
@csholmq indeed, I believe most BP users got theirs mostly for JTAG support. It'd be a bummer if v4 could not handle it...

[2016-12-28 13:53] agatti commented on #37
By the way, I forgot to mention that v3 is using a FTDI USB to serial interface rather than a software USB stack - so v3 is as stable as it can be from that regard.  Sorry for the misunderstanding :|

[2016-12-28 14:09] csholmq commented on #28
Is OpenOCD supported through binary mode?

[2016-12-28 14:13] agatti commented on #28
That is the only way to access OpenOCD actually.  When OpenOCD starts, it sends a particular command sequence to the serial port that first puts the BP into bitbang I/O mode (20 x 0x00) and then sends the proper command to enter OpenOCD mode (0x06).  There is no way to access that from the serial command interface (wouldn't be that much useful after all).

[2016-12-28 14:21] agatti commented on #28
By the way, that's on v3.  On v4 sending that command sequence will do nothing, which is what I plan to fix in the near future :)

[2016-12-28 14:33] USBEprom commented on #23
@agatti

I agree with you.
In the end the firmware v7.0 was conceived basically for the Bus Pirate revision 4, good for its possible compatibility with previous revision 3.
I deal either with SPI and I2C so until the issue will not fixed I will still use the firmware that I built myself based on the previous repository which it has not the patch #23:

dangerousprototypes.com/forum/download/file.ph

[2016-12-28 18:04] agatti commented on #23
@USBEprom which mode did you use for I2C? Hardware or software?

For **software** I2C I do get ~700Hz on SCL:
<img width="579" alt="sw_i2c" src="https://cloud.githubusercontent.com/assets/235740/21528089/ef3f10be-cd6a-11e6-95ca-65dbe061020e.png">

For **hardware** I2C I get ~500kHz on SCL:
<img width="583" alt="hw_i2c" src="https://cloud.githubusercontent.com/assets/235740/21528088/eef628fe-cd6a-1

[2016-12-28 18:14] agatti commented on #23
@USBEprom I tried with the very latest version, just rebuilt and installed and I get ~100kHz in software mode:

<img width="528" alt="master_sw_i2c" src="https://cloud.githubusercontent.com/assets/235740/21528280/66c85658-cd6c-11e6-8d6f-64ad1d8f11a4.png">

I have the feeling that I hit a v3-only issue I don't have a board to test with...

[2016-12-28 18:25] agatti commented on #38
Yep, can confirm...  Would you be so kind todo a bit of regression testing and see when it started doing that?

[2016-12-28 18:30] avongluck-r1soft commented on #38
Can do.  I'll test with a few versions.

@agatti Interestingly I noticed this because holding the two pins to start the bootloader never worked after updating to v7.0.   Since the bootloader is acting up, it might be rough for people to upgrade to v7.1 without a pickit or similar.

[2016-12-28 18:31] agatti commented on #38
Seriously?  That's how I'm doing things here...

[2016-12-28 18:32] kallisti5 commented on #38
Can do. I'll test with a few versions.

@agatti Interestingly I noticed this because holding the two pins to start the bootloader never worked after updating to v7.0. Since the bootloader is acting up, it might be rough for people to upgrade to v7.1 without a pickit or similar.

[2016-12-28 18:32] kallisti5 commented on #38
(sorry, had to switch github accounts :-) )

[2016-12-28 18:34] agatti commented on #38
NP.  As I said earlier, that's how I've been updating the firmware on my v4, and I guess I flashed my board hundreds of times so far.  Maybe I'm using an old bootloader... I'll check this soon.

[2016-12-28 18:40] agatti commented on #23
@USBEprom Can you please try this firmware, just to be sure?  This is the last version that does not have the bug #23 fix.  On a v4, in **software** mode I have around 111kHz on SCL, which is slower than what I get after I applied the fix.

Please try this one in **software** and **hardware** modes if possible, thank you!

[fw_before_patch23.zip](https://github.com/BusPirate/Bus_Pirate/files/67607

[2016-12-28 18:52] agatti commented on #23
I just tried the last version from Dangerous Prototypes (the one from here: https://github.com/DangerousPrototypes/Bus_Pirate) and I have the exact same bus speeds in software mode.  Maybe I should rename the 400kHz entry into "Maximum speed" if software mode is chosen on a v4...

[2016-12-28 18:55] USBEprom commented on #23
Sorry sir.
Not without a lot of shame I have to admit I did not understand the question.
Simply the usual friend of mine have read an I2C memory chip using a command like this {0xa0 0x00}{0xa1 r:256} by acquiring the data bus while the process.
I know nothing if in that context I2C is hardware or firmware, a friend of mine too.
I guess it is hardware, but I am not sure.
In my opinion it is softwar

[2016-12-28 19:05] agatti commented on #23
Basically, when you enter I2C mode (on v4 at least) you get asked the mode and the speed:

[code]

and

[code]

So, my test setup at the moment is fairly simple, I have the BP4 connected to an Arduino Nano that has its internal pullups enabled (I2C needs weaker resistors than the internal ones, but they are enough for the logic analyser), and the analyser connected to those pins as well (I'm not a

[2016-12-28 21:01] USBEprom commented on #23
OK sir, I get it now.
Before releasing the test results I have to clarify something.
The part

I2C mode:
 1. Software
 2. Hardware

(1)>

it is not present with Bus Pirate revision 3.
Using Bus Pirate revision 3 there is no way to choose Hardware rather than Software mode.
Perhaps the fault is due this.
I do not know.
Do you know what are the differences between Hardware and Software mode?
However

[2016-12-29 14:40] agatti commented on #23
Ok, I really need to get a BPv3 and a 24LC16 EEPROM then.

No matter how hard I try I still get ~110kHz I2C speed.  My setup is as such:

<img width="390" alt="screen shot 2016-12-29 at 22 30 34" src="https://cloud.githubusercontent.com/assets/235740/21545997/cb036676-ce16-11e6-88d1-719459ee8eb9.png">

using this Arduino sketch: https://gist.github.com/agatti/d8bf74440e0995b9b297e505c3583e15

and

[2016-12-29 21:55] USBEprom commented on #23
@agatti

Thank you sir.
Unfortunately I know nothing.
I am really sorry that you have to take all this trouble.
I can not help but give the configuration of the my setup.
Maybe it could be of help.
In this occasion the speed for the I2C clock that I have used is ~400kHz, all the previous times it was ~50kHz.
Here you go:

![400khz](https://cloud.githubusercontent.com/assets/22304580/21555523/15004

[2016-12-30 13:01] agatti commented on #23
@USBEprom I haven't tried that yet as I don't have the board with me at the moment.  However, I added the ability to use the hardware I2C interface on v3 boards.  Keep in mind that this is **experimental** and that may mess up with your hardware.  If you want to try that out, please download the latest source code and make sure that `BP_I2C_USE_HW_BUS` is defined in your configuration.  When you e

[2016-12-30 14:33] agatti opened #39 "Test hardware I2C on a v3 board with an A3/A4 or older MCU revision."
Dangerous Prototypes' original firmware did not use hardware I2C due to hardware bugs in PIC24FJ64GA004 chips with revision A3 or A4.

Now that hardware I2C is enabled again and the appropriate workarounds detailed [here](http://ww1.microchip.com/downloads/en/DeviceDoc/80000470j.pdf) have been applied, we need to test those on real hardware.

The catch: the code is experimental and it may or may n

[2016-12-30 22:05] USBEprom commented on #23
Thank you sir.
As reference I have borrowed an Arduino from the usual friend of mine who had loaded into it your sketch:

https://gist.github.com/agatti/d8bf74440e0995b9b297e505c3583e15

He also lent me his logic analyzer.
By using that stuff I have performed some tests almost in the same way you did.
I says almost because the Arduino is not the NANO like your.
I think this is not a problem, at le

[2016-12-30 22:07] USBEprom commented on #39
Thank you very much sir.
The answer at the command "i" of my Bus Pirate is this:

HiZ>i
Bus Pirate v3.5
Community Firmware v7.0 - goo.gl/gCzQnW [HiZ 1-WIRE UART I2C SPI 2WIRE 3WIRE KEYB LCD PIC DIO] Bootloader v4.4
DEVID:0x0447 REVID:0x3046 (24FJ64GA002 B8)
http://dangerousprototypes.com
HiZ>

Before trying what you have suggested I must read well the documentation you provided because I fear to b

[2016-12-30 23:59] meowsqueak commented on #6
@agatti: using the v5.10 `pirate-loader` application:

[code]

I get the same error with the _1 build also.

**However**, something is working because if I power-cycle the BP and connect via USB serial:

[code]

And:

[code]

Incidentally, I do have an ICSP programming method working, using `pickle` via a RPi3, which I've used to reprogram the v4.4 bootloader successfully. I then install the firmw

[2016-12-31 10:50] USBEprom commented on #6
@meowsqueak

meowsqueak wrote:

...

That is the expected behavior using the firmware v7.0 and it is totally fine.
You must use previous releases in order to do not experimenting the final error.
But easy, never mind, simply you ignores the error which does not involve anything.
That error is due a protection into the bootloader.

https://github.com/BusPirate/Bus_Pirate/issues/26
http://dangerousp

[2016-12-31 17:15] USBEprom commented on #39
@agatti

OK, my Bus Pirate revision 3 uses a 24FJ64GA002-B8 which does not need any work around while in I2C mode, being it has not bug in that context.
The PIC 24FJ64GA002-B8 only has the UART bug for which there is no work around, but that is another story.
The weird thing is that you wrote to make sure that BP_I2C_USE_HW_BUS be defined into configuration.h but actually for what I can see it alw

[2016-12-31 21:33] USBEprom commented on #23
@agatti

By referring at this:

https://github.com/BusPirate/Bus_Pirate/issues/39

Here you go the results using the latest test firmware:

<img width="390" alt="cb036676-ce16-11e6-88d1-719459ee8eb9" src="https://cloud.githubusercontent.com/assets/22304580/21579317/d734aa98-cfa8-11e6-9069-83e20d07e662.png">

For the report I have used ~400kHz in accordance with your settings.
How it is possible to

[2017-01-01 08:04] agatti commented on #39
Ok, I believe you just ran *software* I2C, and your clock speed was twice as what I got from my v4 board (222kHz vs 111kHz).

`BP_I2C_USE_HW_BUS` is defined only for v4 boards:

[code]

means that `BP_I2C_USE_HW_BUS` is only available for v4.  If you remove both `#ifdef BUSPIRATEV4` and `#endif /* BUSPIRATEV4 */` then it will enable Hardware/Software selection also for v3.  You can check if you di

[2017-01-01 08:10] agatti commented on #39
Also, sorry for the compilation failure, I moved a string too many to the v4 messages file - it should be fixed now.

[2017-01-01 08:12] agatti commented on #6
@meowsqueak That's good to know - I'll revive v2go later on today, then.

[2017-01-01 11:26] USBEprom commented on #39
@ agatti

Thank you sir for your tireless work.
You are teaching me a lot!
OK for the "Do not override 'inline'" label in MPLAB, I understood it.
Though, do you mind another question just for be safe?
I know I make a bunch of questions, but if possible I would like to know out which are the settings that you are using for the optimizations into MPLAB while you are compiling firmwares by yourself.

[2017-01-01 11:37] agatti commented on #39
From your configuration.h file:

[code]

You forgot to close the comment for `#ifdef BUSPIRATEV4`.  For now please use `//` to comment out those lines.

Regarding optimisation, I have optimisation level set to '0' and all I have on is just "Do not override 'inline'". The rest is all empty or disabled.

[2017-01-01 19:22] USBEprom commented on #39
@ agatti

Thank you sir!
You are really the greatest!
Daebak!
Ok, still you won while I am totally babo for true.
It was exactly like you wrote.
Now configuration.h is this:
[configuration.h.TXT](https://github.com/BusPirate/Bus_Pirate/files/680113/configuration.h.TXT)
**(Pay attention at the fact that "github" does not allow me to attach configuration.h, not even by compressing it as zip, so I ha

[2017-01-02 18:06] agatti commented on #34
#38 and #39 are currently blockers for 7.1 release.

[2017-01-03 21:09] USBEprom commented on #38
I know that I am babo as hell and I could be wrong.
What bootloader do you mean, the newest v4.5 or previous?
I have a Bus Pirate v3 with bootloader v4.4 and I have not any problem while upgrading via software.
I must check via hardware by the jumper.
I will do it and then I will post the result in the weekend because I am pretty busy right now.

[2017-01-05 15:04] agatti commented on #38
This is not a bootloader-specific issue.  I suspect it happened when section overlaps have been removed, but I cannot test that hypothesis at the moment (issue #10).

[2017-01-07 12:48] USBEprom commented on #39
Ok, now it is time for me to testing deeper.
Something is weird though.
Wanting to test at once even small changes introduced since the last time I have tried to use the new repository in order to build the test firmware.
While I am compiling it MPLAB give at me some errors like it is explained here:
[ERROR 07012017.txt](https://github.com/BusPirate/Bus_Pirate/files/691487/ERROR.07012017.txt)
I kn

[2017-01-07 14:26] Fl0-0 opened #41 "uart.c bit_sample uninitialized in uart_get_baud_rate function"
uart.c line ~524:
uint32_t uart_get_baud_rate(const bool quiet) {
  size_t samples;
  uint32_t current_sample;
  uint32_t bit_sample;

  BP_MISO = LOW;

bit_sample is not initialized.
Warning at compilation:
../uart.c: In function 'uart_run_macro':
../uart.c:524:12: warning: 'bit_sample' may be used uninitialized in this function

Used at line 658:
if ((samples > 0) && ((bit_sample == 0) || (bit_s

[2017-01-07 22:19] USBEprom commented on #38
I can confirm that with Bus Pirate revision 3 using bootloader v4.4 there are no problems upgrading by terminal either by jumper.
I have checked it.
I had read that it was a problem of Pirate-Loader, not the bootloader.
I knew it is so.

[2017-01-07 22:22] USBEprom commented on #41
Maybe it is #39

[2017-01-08 05:13] agatti commented on #41
Interesting.  This didn't cause an error here both on v3 or v4, with MPLAB X 3.50 and XC16 1.30.  Anyway, it's been fixed with 0ec8c381531c83b3e39ec3c525ac8f9ae6ed94d9.

[2017-01-08 05:13] #41 closed

[2017-01-08 05:15] agatti commented on #39
The compilation issue has been resolved, by the way.

[2017-01-08 16:33] agatti commented on #38
@USBEprom please check the tags on the right hand side of the screen - this bug is v4 only, it does not apply on v3 boards.

[2017-01-08 16:35] USBEprom commented on #39
@ agatti

Thank you sir for having fix the repository!
By using it I built a new test firmware for my Bus Pirate revision 3 with which I have rechecked all what I have missed yesterday.
I am still using an Arduino in order to simulate a I2C bus exactly as you are used to do.
Here you go the shots that the usual friend of mine has took.

Software:
![i2c_software](https://cloud.githubusercontent.com

[2017-01-08 16:35] agatti commented on #38
@kallisti5 did you find out on which build it started doing it?  I got a pickit from a friend to try to debug this issue, and from what I can see the hardcoded address for the bootloader entry point is still actually inside the v4 main firmware (right now it jumps right in the I2C code...)

[2017-01-08 16:42] USBEprom commented on #41
Here it is MPLAB X 3.40 and XC16 1.26 and there was the issue when building for Bus Pirate revision 3.
Now I am ready to upgrade at MPLAB X 3.50 and XC16 1.30.
Many thanks sir!

[2017-01-08 17:04] USBEprom commented on #23
Unfortunately actually it does not work (see #39).
In order to further dig the matter I have tried to compile some previous repository that have not the patch #23 but I have failed.
An alternative would be to use the current repository and compile the firmware by disabling the patch #23.
Is it possible?
How?
That could be a way to identify the culprit by analyzing the behavior of a known working f

[2017-01-14 11:50] USBEprom commented on #39
Based on some informations I have retrieved about the timing, especially for the logic analyzer side, for my Bus Pirate revision 3 I use always firmware optimized by numbered option (generally option "1" due lack of room into the PIC of the Bus Pirate revision 3).
Since you wrote that you do not use optimizations (option "s" in MPLAB) for the firmware that you build by yourself for your revision 4

[2017-01-15 19:50] USBEprom commented on #39
I am sorry keep annoying.
I did upgrade from xc16-v1.26 to the newest xc16-v1.30 and now while compiling I have this message of error:

\xc16-v1.30\bin\bin/elf-ld.exe: Warning: linker script did not specify CRT_STARTMODE file, default: crt_start_mode_normal

By digging the matter I found that it is due a something into the file p24FJ64GA002.gld.
Inside p24FJ64GA002.gld it is wrote:

OUTPUT_ARCH("2

[2017-01-15 21:29] pixeldoc2000 commented on #22
I like the idea!

My Question is it worth the effort? Which FW Developer is interested in this,  has access to the Hardward and spare time?

I "vote" for an "arduino" is solution (this includes arduino compatible devices like WeMos D1 based ob ESP8266) because its a very popuilar Device, so maybe more people would use it.
If we use Software Implementation of the Protocols (like SPI, I2C, ...) mayb

[2017-01-19 04:01] ttelford commented on #7
Update from my testing:

I'm only testing the current set of binaries; I don't have time at the moment to get the dev stack installed to build the latest from it.

I have the BPv3.6 hardware

Each hex ends badly - and identically.

`bpv3_fw7.0_opt0_18092016.hex`

    Erasing page 42, a800...ERROR [50]
    Error updating firmware :(

`bpv3_fw7.0_opt1_18092016.hex`
    Erasing page 42, a800...ERROR

[2017-01-19 19:50] USBEprom commented on #7
@ ttelford

Hi ttelford.
Actually that error message does not mean that something is wrong with the firmware.
More than a matter of bootloader it is a issue with pirate-loader or related tools.
Please read here:

http://dangerousprototypes.com/forum/viewtopic.php?f=28&t=8498&start=15

and especially these with careful:

http://dangerousprototypes.com/forum/viewtopic.php?f=28&t=8498&start=15#p65317

[2017-01-19 20:24] ttelford commented on #7
Not a typo. It's a direct copy/paste.

Still, nice to know it's the boot loader. I'll give that a whirl.

[2017-01-20 20:25] USBEprom commented on #7
@ ttelford

About what you wrote "Bootloader version: 1,02", seems it is the ds30 loader version, not your own version of the bootloader.
Look here:

http://dangerousprototypes.com/forum/viewtopic.php?f=4&t=703&p=6862#p6480

About the silicon revision [d4] (Device ID: PIC24FJ64GA002 [d4]) actually you are right, I did not knew it.

[2017-01-25 06:13] ttelford commented on #7
Perhaps a bit more about my hardware (and software) is in order:

I've been using pirate-loader exclusively, on either Linux or OS X (whichever is close to me a the time...) Does ds30 share code with pirate-loader?

I also managed to get a hold of a second,  "brand new" (2015 manufacture) Bus Pirate 3.5.

Both of my Bus Pirate 3's currently report the following:

    HiZ>i
    Bus Pirate v3.5

[2017-01-25 09:59] agatti commented on #39
@USBEprom that's just a warning introduced by the new xc8 compiler and it's harmless.  Fixing that might make the firmware stop compiling with older xc8 versions, so please just leave it like this for now.

[2017-01-27 06:10] agatti commented on #22
Automated tests would help a lot with regression testing and protocol validation, to begin with.  Not everyone out there has hardware for each and every protocol BP can handle, for example.  Take a look at bug #23 for example - I ended up fetching an I2C flash chip the other day just to be able to fully replicate the failing scenario (will work that out after Chinese New Year, though).

At the mom

[2017-01-27 08:53] ntzrmtthihu777 opened #43 "Trouble updating bootloader and firmware for openocd"
As stated. I'm intending to grab a flyswatter2 from tincan tools as a more 'proper'
jtag interface for u-boot development, but wish to at least test I've got the right pinout.

I wished to update my firmware to support openocd/jtag, and cloned the repo, and
attempted to flash via
`./BPv3-firmware/pyrate-loader_lnx --dev=/dev/ttyUSB0 --hex=bootloader/BPv3-Bootloader-v4.4.hex`

It all goes well unti

[2017-01-27 20:33] USBEprom commented on #43
@ntzrmtthihu777

Please take a look here:
https://github.com/BusPirate/Bus_Pirate/issues/7#issuecomment-273879409

What do you mean "As it currently stands my bus pirate is unusable"?
Actually the message of error is not a real issue.

[2017-01-27 20:37] USBEprom commented on #39
@agatti

Thank you sir!
Ok, however for safety I am still using the previous version of the compiler that has not the error.
Thanks.

[2017-01-27 20:57] USBEprom commented on #7
@ ttelford

The message you wrote

**ttelford wrote:**

is totally right.
As I already wrote you must just ignore the message of error, it is not a real issue.
I do not know if  ds30 does share code with pirate-loader, sorry.
I know the issue is not into the bootloader or the firmware for sure.
The issue do not plagues the Bus Pirate revision 4, so what you wrote is just what is expected.
So in th

[2017-01-28 00:48] ntzrmtthihu777 commented on #43
I mean, when I `screen /dev/ttyUSB0 115200` it, it does not present the 'normal' bus pirate interface.
I managed to recover by reflashing stock firmware though, which is good.

[2017-01-28 17:39] USBEprom commented on #7
Some doubts.
as agatti wrote:
https://github.com/BusPirate/Bus_Pirate/issues/7#issuecomment-258251235
I was able to build my own version of the firmware for the Bus Pirate v3 where all the features are unlocked, BASIC too (dangerousprototypes.com/forum/download/file.php?id=12196).
In order to reach the goal among the other things I had to switch #define PGMSIZE 1024 to #define PGMSIZE 512.
I do no

[2017-01-29 01:57] ntzrmtthihu777 commented on #43
Got it figured out. Sorry to pester :)

[2017-01-29 01:57] #43 closed

[2017-01-29 12:51] zzmaro commented on #23
Hello Gentlemen,

I have BP 3.6v which I wanted to use as I2C master device. However, in my design it totally didn't work, probably due to I2C clock stretching. Moreover, due to timing problems many of I2C devices didn't behave as they should. Then I started looking for some information and found multiple threads (also yours) regarding problems in BP FW, etc...

What I would like to know is:
1. Wh

[2017-01-29 19:59] USBEprom commented on #23
@zzmaro

For what i know the issue with the protocol I2C did started from the application of the patch #23.
I know nothing about the firmwares built by agatti and mikebdp2, but I am pretty sure they do not have the patch #23.
Perhaps those firmwares have a limited unlocked features.
If you need something with all the available features unlocked try this:

dangerousprototypes.com/forum/download/fil

[2017-01-29 20:25] zzmaro commented on #23
@USBEprom
Exactly. I read these threads and I would really like to test HW I2C. I have B8 silicon revision, so I should be safe. Do you have compiled version you could share with me? I will try to compile few versions, but I need some spare time to do it.

Regarding issue #23 - what exactly do you think has changed after fix?
I'm not sure what software you are reffering to, but I have v6.1 (really

[2017-01-30 20:18] USBEprom commented on #23
@zzmaro

zzmaro wrote:

The firmware I have is in the archive 12112016.zip that I already wrote.
The link to it is that I wrote above.
My firmware 12112016 is for the Bus Pirate revision 3 and it has not the patch #23 applied, nor the workarounds that agatti wrote in order to unlock I2C hardware.
Delays apart, it does work but the clock for the bus is roughly the half of what is shown into the men

[2017-01-31 08:42] darkomen opened #44 "is possible to configure the Buspirate V4 as JTAG programmer?"
Hello, I need a JTAG programmer, and I want to know if I could use the buspirate in this case or I have to get a programmer

[2017-02-02 17:46] agatti commented on #44
Hi there, this is planned for version 7.2.  Please follow bug #28 for further developments.

Closing as duplicate of #28.

[2017-02-02 17:46] #44 closed

[2017-02-02 17:48] agatti commented on #39
Given that we now have users who are trying the firmware on v3 boards, I guess it's time to retire this ticket.  If you have issues related to the community firmware on Bus Pirate v3 boards, please open a new bug if none of the currently open ones match your issue, thank you.

[2017-02-02 17:48] #39 closed

[2017-02-02 17:53] agatti commented on #7
Given that we now have users who are trying the firmware on v3 boards, I guess it's time to retire this ticket.

If you have issues related to the community firmware on Bus Pirate v3 boards, please open a new bug if none of the currently open ones match your issue, thank you.

This issue has been closed since months, so please open another issue instead of posting here - it makes management easier

[2017-02-02 21:44] kallisti5 commented on #38
I got a BusPirate v3b (SparkFun edition) and can confirm out of the box the bootloader works...

[code]

[2017-02-02 21:55] kallisti5 commented on #38
Upgraded to v6.1 using the built-in bootloader:

[code]

Working as expected:
[code]

[2017-02-02 22:00] kallisti5 commented on #38
v3 Upgrade to v6.2 "beta"

[code]

**Not working:**
[code]

[2017-02-02 22:01] kallisti5 commented on #38
So... it looks like the bootloader entry breakage occurred sometime before the "community firmware" was forked. ( Regression between r1676-r1981   v6.1  and v6.2)

It also looks like v3 and v4 are impacted.

[2017-02-02 22:04] kallisti5 commented on #38
Confirmed the --hello function also fails after v6.2...

[code]

[2017-02-02 22:13] kallisti5 commented on #38
The v6.1 firmware package is dated:
``` Jan 11  2012 BPv3-frimware-v6.1.hex```

The v6.2 firmware package is dated:
```Aug 14  2012 BPv3-firmware-v6.2-r1981.hex```

So I assume the regression was introduced somewhere in-between.

[2017-02-02 22:30] kallisti5 commented on #38
I've tagged the sources for the likely v6.2 and v6.1 releases based on the timestamps above.

305 commits could of caused the regression.
[code]

Only 1 commit mentions "boot loader"... Too bad it's cosmetic (68a8914)

[2017-02-02 22:50] kallisti5 commented on #38
Weird..

https://github.com/BusPirate/Bus_Pirate/search?utf8=%E2%9C%93&q=BLJUMPADDRESS

That address seems a bit all over the road

[2017-02-04 12:40] USBEprom opened #45 "SPI protocol does not work anymore."
I have just built a firmware for the BP3 by compiling from the current repository (February 4, 2017) with MBLAB 3.50 - XC16 1.30 putting flag only on "**Do not override 'inline'**" leaving the rest of its settings empty or disabled.
For Bus Pirate revision 3 optimizations 0, 2 and 3 are run out of space, the only valid ones are 1 and s, so i built by using them.
This report is about firmware optim

[2017-02-04 13:22] USBEprom opened #46 "2WIRE protocol does not work anymore."
I have just built a firmware for the BP3 by compiling from the current repository (February 4, 2017) with MBLAB 3.50 - XC16 1.30 putting flag only on "**Do not override 'inline'**" leaving the rest of its settings empty or disabled.
For Bus Pirate revision 3 optimizations 0, 2 and 3 are run out of space, the only valid ones are 1 and s, so i built by using them.
This report is about firmware optim

[2017-02-07 15:43] u1f35c commented on #29
Is there a corresponding patch to OpenOCD or similar? I have STM32F103 hardware I could test against (I'm currently using OpenOCD with bitbanging on the Bus Pirate for SWD support).

[2017-02-07 15:58] agatti commented on #29
Unfortunately said implementation was more of a proof of concept to see how difficult would be adding SWD support to the BP.  I believe that adding SWD transport to OpenOCD's BP driver shouldn't be too difficult once SWD support is in place, though.

Right now I'm a bit swamped with work and other things so I cannot really dedicate lots of time to BP firmware development this month, but I'd love t

[2017-03-19 03:58] Marsfan opened #48 "Bus Pirate V3"
What is the status of the firmware for the Bus Pirate v3b (the sparkfun model)? Does the newest version load into the chip, and am I missing any features? Running i lists version 5.10 and these modes:

1. HiZ
2. 1-WIRE
3. UART
4. I2C
5. SPI
6. 2WIRE
7. 3WIRE
8. LCD
9. DIO

[2017-03-20 14:30] agatti commented on #48
Right now you have to rebuild things from source.  You may want to take a look at http://dangerousprototypes.com/forum/viewtopic.php?p=65526#p65526 - I'm not sure whether those firmwares were tested on a v3b to be honest.

[2017-03-29 19:59] Marsfan opened #49 "Updating via ds30 says it will overwrite bootloader on BPv3"
I have been trying to update the boot loaderwith [this file](http://dangerousprototypes.com/forum/viewtopic.php?p=65526#p65526), but the ds30 updoader says I will overwrite the bootloader on my bus pirate.

What's more, when I try to proceed, it just says that it has nothing to do. How can I fix these errors?

[2017-03-30 07:24] crapp commented on #48
@agatti Looks like there is some problem with software i2c on the buspirate v3. This seems to have been introduced with firmware 7.1. Can you confirm this?

[2017-03-30 14:08] Marsfan commented on #48
@crapp I saw something on the posts, but @agatti's link seems to be the last successful build made for v3 so far. My current worry is about overwriting the bootloader. (see my issue #49). Anyone willing to clear that up for me.

[2017-03-30 18:06] Marsfan commented on #22
[This example](https://www.arduino.cc/en/Tutorial/MasterReader) on the arduino website. has everything needed to configure an arduino as an i2c slave. It should take all of 30 seconds create it.

And [here] (http://forum.arduino.cc/index.php?topic=52111.0) is a forum post on how to make an arduino act as a SPI slave.

UART should be the eaisest. I know there is a 1wire library, but I have not rese

[2017-03-30 19:09] JarrettR commented on #22
Some comments on this:

DP originally did a [demo board](http://dangerousprototypes.com/docs/Bus_Pirate_Demo_Board_v5_design_overview) to do something like this. Earlier versions used a whole bunch of chips to test the protocols, later versions basically used a PIC16F1829 breakout board to emulate them, which made it more extensible and brought the price way down. A lot of information on them seem

[2017-03-30 19:12] JarrettR commented on #49
Have you tried the [Pirate loader](http://dangerousprototypes.com/docs/Pirate-Loader_console_upgrade_application_(GNU/Linux,_Mac,_Windows)) instead?

[2017-03-30 19:15] Marsfan commented on #49
@JarrettR I have not, but I am more worried about breaking the bootloader instead of how to bypass it.

[2017-03-30 19:16] Marsfan commented on #22
@JarrettR You could go with an atmega328 with the uno bootloader. Get it in Dip format, make a simple breadboard to put it on, and bam, all you need is to add testing firmware. I had already been thinking about doing this with an uno just to test mine after a firmware upgrade.

[2017-03-30 19:23] JarrettR commented on #22
To encourage community engagement, it's usually a better idea to keep it as simple as possible, so if not a Teensy, I'd recommend _something_ off the shelf as much as possible.

This would allow someone to set up their own BP unit testing rig by following the instructions that could be very simple, like:
1. Purchase Teensy 2.0 (or whatever)
2. Purchase adapter board by clicking this OSHPark link
3

[2017-03-30 19:25] JarrettR commented on #49
I'm not sure what your question is

[2017-03-30 20:44] JarrettR commented on #49
That might be the source of your confusion, The link that you provided contains files for the firmware, not the bootloader.

The Pirate loader will communicate with your existing bootloader v4 (no upgrade necessary), and install the firmware that you linked. I've never used ds30, so I don't know how it works.

[2017-03-30 22:09] Marsfan commented on #49
@JarrettR it could be a DS 30 bug, but I know it is firmware. DS30 is warning me it might overwrite the bootloader when it puts the firmware on it. Can you flag this for someone else to look at?

[2017-04-02 18:40] agatti commented on #22
@JarrettR the main issue with that approach is that you're bound to use a MCU that allows to have all hardware features (UART/SPI/I2C/etc.) pins to be reassigned at will on any pin it has - which the ESP8266 as you mentioned does not allow but neither do plain Arduinos unless you start using software-based protocols, at which point you may as well stick with an ESP8266 running the Arduino librarie

[2017-04-02 20:53] agatti commented on #49
@Marsfan pirate-loader won't touch the bootloader, and it is the only supported (as in, we can provide help with) firmware update method at this point in time.

[2017-04-02 21:11] agatti commented on #22
@JarrettR however, if you want to go for the board route then I guess something like this would work for v4 (AUX pins select the protocol to switch to using software SPI), although it's using an Arduino Nano V3 instead of an ESP8266.  Not really fond of the mux/demux IC pair though - I'd have used a CPLD and let it handle mode switch via SPI as well, but that would probably be a bit too expensive.

[2017-04-03 16:16] agatti commented on #22
Now, the BPv4 can use the three AUX pins as bidirectional software SPI to set up the test scenario, but how about BPv3 which does not seem to have enough pins for such a thing?  I would like to use the hardware UART on the Arduino for test scenarios only and not also for control if possible.

One other option would be to have a computer drive both the BP via the USB interface and the Arduino on a

[2017-04-03 19:34] JarrettR commented on #22
I'd totally forgotten about the Arduino Mini/Micro/Nano families, that is better (read: cheaper) than the Teensy.

These have an advantage over the ESP8266/NodeMCU in the following ways:
- Chip (ATMega of some sort) is better documented and supported by the manufacturer
- Board size and pinout is more consistent than the various NodeMCU versions (0.9/1/v3/etc)
- Same price, roughly, as the NodeMCU

[2017-04-04 09:14] agatti commented on #22
The main issue with using the hardware UART for both control and test is that the UART is going to be programmed to operate at various standard bitrates (including custom ones) to exercise the UART sniffer/autobauding code.  If by accident the BP and the Arduino bitrates go out of sync there's no way to recover things unless there's a watchdog on the Arduino to reset the bitrate to say, 9600 bps i

[2017-04-04 09:20] agatti commented on #22
By the way, I took a look at crossbar switches - they seem to be all targeted to high-speed data transmission and/or A/V data.  Would something like an ATF16V8B work as well?  It's also available as DIP, so folks who don't/can't handle PCBs can set things up on a plain breadboard and a handful of components.

[2017-04-04 19:20] Marsfan commented on #49
@agatti So to verify, despite the fact that DS30 shows an error on that, the command line system will not overwrite the boot loader?

I saw some stuff on the main release thread, but it seems to have dried up. Anything special I need to do?

[2017-04-05 00:19] Marsfan commented on #49
@agatti to clarify, I am talking about the` Erasing page 42, a800...ERROR [50] ` message that one gets on pirate loader (happened with me), how would one fix this?

[2017-04-05 00:20] Marsfan commented on #49
@agatti ok so it worked despite that warning. someone want to tell me what the heck that warning meant?

[2017-04-05 00:28] agatti commented on #49
@Marsfan If I recall correctly, that's where the bootloader is actually stored on v3.  Please check out the discussion for issue #26.

[2017-04-05 00:48] agatti commented on #49
After a bit more thought, maybe pirate loader should be changed to be a bit more descriptive when tries (and fails) to overwrite the bootloader.

[2017-04-05 16:36] Marsfan commented on #22
I can't help but think that a Cypress PSOC might help. They are pretty complex, but you could distribute a hex file and schematics for a simple breakout board to put on top.

The main advantage of a PSOC is they have some sort of multiplexing, I am not 100% sure how to change pin assignments during run, but it might be possible.

[2017-04-06 18:56] #49 closed

[2017-04-06 18:58] agatti commented on #22
@Marsfan Cypress PSOC's do not seem to have cross-platform programming toolchains or IDEs, according to http://www.cypress.com/forum/psoc-creator-software/psoc-creator-linux-or-osx-w-or-wo-wine - that might be a problem since everything else is meant to be cross-platform.

[2017-04-10 10:48] agatti commented on #46
Fixed with bd7c8f27b40dda8b6cef72d320f1fb34127fb933.

[2017-04-10 10:48] #46 closed

[2017-04-10 10:48] agatti commented on #45
Fixed with bd7c8f27b40dda8b6cef72d320f1fb34127fb933.

[2017-04-10 10:48] #45 closed

[2017-04-12 21:52] USBEprom commented on #45
I am sorry to bother you again here that the issue has been already closed.
Trying to compile a new test firmware starting from the new repository I got these errors from MPLAB:

[Errors 12042017.txt](https://github.com/BusPirate/Bus_Pirate/files/917928/Errors.12042017.txt)

If I am not doing wrong there might be a problem.
Thanks!

[2017-04-13 05:26] agatti commented on #45
Your modifications to configuration.h are invalid, please double check those.

[code]

[2017-04-13 20:06] USBEprom commented on #45
Thank you sir, you are the best!
As always you are right.
I am babo.
I had mistakenly changed the line 316 into my configuration.h.
After correcting it now everything works.
I will test this new firmware and I will post the results.
Many thanks again sir!

[2017-04-13 20:22] USBEprom commented on #46
I confirm that it is gone, now works properly.
Thank you sir!
You are the best!

[2017-04-16 08:27] dspmind opened #51 "Wait until interrupt command"
I was looking for feature in BPv3 hardware that enable one to configure AUX pin as an H->L or L->H interrupt i/p pin and use that modify the binary bit bang protocol to generate an protocol EVENT on the interrupt arrival. This will help in scripting several h/w devices. An exact same feature was already asked in
https://github.com/0x90/the-bus-pirate/issues/5

Is this feature very difficult to imp

[2017-04-16 18:24] agatti commented on #51
It doesn't look that difficult to implement, we'll see if something like this can fit the usage in 7.2.

[2017-04-17 06:46] agatti commented on #23
Moving to 7.2.

[2017-04-17 06:53] agatti opened #52 "Revise the binary protocol"
The binary protocol hasn't changed with the introduction of the BPv4, which is just fine but it means that the two extra AUX pins cannot be controlled or interacted with via said protocol.

Changing this would mean bump up the revision on the protocol identifier (when there is one) and add/modify commands in a slightly more sensible way than the organically-grown set that is currently available.

[2017-04-17 06:54] agatti commented on #52
#51 depends on this.

[2017-04-17 06:56] agatti commented on #51
On second thought, the changes for this seem to be a bit more extensive than expected.  Issue #52 should also cover this.

[2017-04-17 08:23] agatti commented on #27
All existing protocol documentation migrated with 14d6e598a4e3b1d1125446cccf45167321eaa208.

[2017-04-17 08:23] #27 closed

[2017-04-18 04:27] dspmind commented on #52
I think the most problematic issue is making the existing code obsolete. However (as you mentioned), this is the consequence of not adapting the protocol / firmware version negotiations to accommodate, backward compatible changes in the existing design. According to me the earlier it is done, the better. But enough thoughts need to be put forth so that robust feature negotiation protocol is also i

[2017-04-19 04:42] agatti commented on #52
One possible option would be to find a binary command pattern that is currently not used on the protocol and use that to switch the BP to the new protocol.  Of course, if the old protocol support is not compiled in then the BP would directly respond with different signatures, allowing new software to probe for the existence of the new protocol switch and act accordingly.

[2017-04-19 17:49] dspmind commented on #52
This sounds like a nice idea. But we need to make sure that it will scale well for the future.

[2017-04-19 22:18] USBEprom commented on #48
@agatti

Firmware here:

http://dangerousprototypes.com/forum/viewtopic.php?p=65526#p65526

and better, latest version, here:

http://dangerousprototypes.com/forum/viewtopic.php?p=65526#p66033

as all the firmwares I put on the dangerousprototypes site I confirm that they are tested and functioning on Bus Pirate revision 3.
I own a Bus Pirate v3.

@Marsfan

Take a look at this:

http://dangerouspr

[2017-05-01 12:55] u1f35c commented on #29
I haven't had any time to look at the SWD implementation on the BusPirate itself, but I have been using the patch at [https://the.earth.li/~noodles/bp-swd.diff](https://the.earth.li/~noodles/bp-swd.diff) with OpenOCD 0.10.0 to enable SWD via bitbanging using the BusPirate. This is a slightly modified version of the diff at [http://openocd.zylin.com/#/c/2444/](http://openocd.zylin.com/#/c/2444/) an

[2017-05-03 23:17] Marsfan commented on #48
Ok, USBEPROM's builds work. Closing this down

[2017-05-07 21:22] kallisti5 commented on #38
Ok.  I had some spare time to do a little research into this. Still not working as of latest builds. I noticed the bootloader version is v255.255 as well on my BPv3 with the latest build. (i command)

https://github.com/BusPirate/Bus_Pirate/blob/master/Bootloaders/BPv3-bootloader/firmware-v4.5/ds30loader.s#L148 seems to be key in locating where the bootloader went. Here are the intended locations:

[2017-05-08 08:17] agatti commented on #38
Interesting.  Maybe something that can be done is to reserve some bytes at the end of the code space that just contains either a hardcoded branch instruction to the bootloader start, or a soft-reset trigger.  Since the address of this trampoline is known in advance on either v3 and v4, maybe this should be easier to handle.  Moreover, pirate-loader can also unconditionally write said trampoline on

[2017-05-21 15:49] nodebotanist commented on #22
I am working on code for an ATmega328 bare chip that would suit this purpose (I was working on it for my Node.JS module that uses the bitbang functionality found [here](https://github.com/nodebotanist/node-bus-pirate)). The AVR code is here: https://github.com/nodebotanist/node-bus-pirate-tester. I have I2C slave working and am working on SPI. You're welcome to use my work, and I'll gladly post up

[2017-06-25 00:04] agatti commented on #38
A first attempt at fixing this has been committed as e2bd0a0.  I've had a quick go on my v4 and it seems to work, but there are no guarantees of this to be either stable or working for you :)

If it doesn't work on v3 then some changes in the v4.5 assembly bootloader need to be performed.  I tried to be as careful as possible but I have no ways to test this.

Unfortunately this is not as "clean" a

[2017-06-25 00:12] agatti commented on #38
Oh, I forgot to mention that trying this out means reflashing *both* the bootloader and the firmware.  The fastest way to achieve this is to flash the bootloader via MPLAB-X (IDE or IPE doesn't matter), then use the new bootloader to flash the new firmware.

[2017-06-25 18:31] USBEprom commented on #38
@agatti

Thank you Sir for the news.
I'd like to check if it works with Bus Pirate revision 3 but I do not understand some things and more I have not any programmer like an ICD2 or PicKit.
I understood that I have to compile the BOOTLOADER v4.5 from myself using MPLAB-X IDE or IPE, does not matter which, but beyond how to do it, then I would need a real programmer like PicKit or ICD2.
Also I am aw

[2017-06-25 19:32] agatti commented on #38
@USBEprom, on v3 things are a bit more complicated since you must already have the v4.5 bootloader already installed first.  Then, I am not sure if things can be recovered without a PICkit if the bootloader does not work - if you don't happen to have one handy it's recommended to leave things as they are at the moment.  The firmware should work just fine even with the old bootloader though.

Anyho

[2017-06-25 20:56] Marsfan opened #53 "Put compiled builds under the Releases tag"
I brought this up over on the forum, but not much came from it (no ones fault). Perhaps we could start taking the completed builds that @USBEprom puts up on the forum, and start placing them under the releases function within github. This would allow for people to quickly see all of the newest releases, instead of having to dig through the forum posts.

The main issue with this is that @USBEprom i

[2017-06-26 07:58] agatti commented on #53
Right now the only thing blocking release is the verification of the fix for #38.  Once that's over with then we'll have official tested builds for v3 and v4 put under the release tag, no worries :)

[2017-06-26 22:41] Marsfan commented on #53
@agatti Oh ok. I though that maybe use of that had faded, and main releases were @USBEprom's Perhaps we could create a beta tag to put his under as well?

[2017-06-26 22:41] #53 closed

[2017-06-29 19:01] USBEprom commented on #38
OK.
I understood that it is better to leave things as they are because the firmware should work just fine even with the old bootloader, my only purpose was try to contribute with testing.
I will investigate on how to build the bootloader v4.5 with MPLAB-X, that honestly now I do not know, but seems to me however it is need a real programmer like PICkit2 or ICD2 in order to do that and finally put

[2017-07-08 06:17] andrewd207 commented on #52
I implemented this a while ago. It's been a couple of years but I will try to find the code. I made some changes that break avrdude for example. But it was easy to fix. If I remember, I made the mode switch command two bytes, allowing many modes. So bin0 became bin1 and then to bitbang I added a new mode bbio1 or something. It allowed setting all io pins with one byte. Setting power pins was a two

[2017-07-17 17:36] #48 closed

[2017-07-18 18:01] USBEprom opened #54 "HARDWARE mode with I2C protocol, how it works? (if it does)."
Hi guys.
Is there somebody here who know the differences between SOFTWARE and HARDWARE mode in I2C protocol?
I thought the only one was about how synchronization is generated for the bus, but I am not sure it is just that.
In fact in the recent past thanks to agatti it was possible to free the HARDWARE mode for the I2C protocol also with Bus Pirate v3 (https://github.com/BusPirate/Bus_Pirate/issue

[2017-07-18 20:10] andersm commented on #52
If the binary protocol is being extended, I would really like the option of using hardware I2C in binary mode.

[2017-07-18 22:45] agatti commented on #54
@USBEprom can you please try past versions of the firmware to see whether the problem has always been there or if it's a new issue?

[2017-07-18 22:49] agatti commented on #38
@kallisti5 do you happen to have some time to check this on the boards you've got there?  If it works as intended then we can wrap this release up and set it free...

[2017-07-18 23:35] agatti commented on #54
Incidentally, I tried to read a Microchip 24LC02B with my Bus Pirate v4 and I get the same result both in software and hardware modes, as long as the speed is less than 400kHz (as per datasheet).

[2017-07-19 20:44] USBEprom commented on #54
@agatti

Thank you very much for your help sir!
Since for what I know  the only firmware for the Bus Pirate v3 which has the HARDWARE mode unlocked in the I2C protocol is what that I built by myself I can not test other releases.
The firmwares I talking about are these:

http://dangerousprototypes.com/forum/viewtopic.php?f=28&t=8498&start=45#p66033
(built starting from the repository dated April 1

[2017-07-19 23:53] agatti commented on #54
Ok, I'll see what can be done.  It'd help if I could get a logic analyser dump of the problem happening, but not just a screenshot but the signal dump so I could open the file in Logic and take a closer look at the timings and whatnot.

Unfortunately I still don't own a v3 board and the companies that still sell those boards don't seem to want to help its continued development, so it might take so

[2017-07-20 01:34] meowsqueak commented on #6
Just wondering if v2go was successfully revived and still operational in latest firmware?

[2017-07-20 02:29] agatti commented on #6
My bad, I'll do that now.  I'm still not sure if there will be official builds for such a thing though.

[2017-07-20 02:41] agatti commented on #6
@meowsqueak there you go, please check out the latest version of the source, change the parameter defined here: https://github.com/BusPirate/Bus_Pirate/commit/8ab697a81afc4cdaf110e08af9646d9ffff87b13#diff-0fc478318c3341c2e337e5d7003d2383R24 and rebuild

As always, no guarantees that it will work on your hardware, since I haven't got a v2 board to test things with.

[2017-07-20 12:18] andersm commented on #20
If each string was placed in a separate section, the linker garbage collector could strip unused strings automatically.

[2017-07-20 12:37] agatti commented on #20
True, but then there would be some ROM space being wasted for section alignment, wouldn't it? My understanding is that by using a preprocessor the strings would be packed together and those bytes would still be available for code/other read-only data.

[2017-07-20 20:08] USBEprom commented on #54
@agatti

OK sir, you are great!
Thanks!!!
Maybe I am wrong and actually it does not matter, but seems to me the problem only exists while doing sequential access.
This because for instance by repeating [0xA0 9][0xA1 r][0xA2 9][0xA3 r] there is not any problem, while by doing the same with [0xA0 0][0xA1 r:37] it appears.
Anyway here you go some of the captures I did:

[LOGIC.zip](https://github.com

[2017-07-20 20:11] andersm commented on #20
It could probably be worked around using section attributes, but it looks like XC16-as has an extension that makes it much simpler:

Assemble the following code into a section named name. If the character * is specified for name, the assembler will generate a unique name for the section based on the input file name in the format filename.scnn, where n represents the number of auto-generated sectio

[2017-07-20 21:01] USBEprom opened #58 "Bus Pirate v3 does not enter BOOTLOADER anymore."
As reference, seems that with firmwares built starting from repository dated July 16, 2017 and July 20, 2017, then is not possible to gain BOOTLOADER by issuing command "$".
By doing it then Bus Pirate v3 has a reset but it does not enter into the BOOTLOADER mode.
Firmwares built using option '1' and option 's'.

[2017-07-20 23:22] agatti commented on #54
@USBEprom yes, the data is in the right format - thank you.  I'll take a closer look at it this weekend.

[2017-07-20 23:56] andersm commented on #20
It seems that XC16 can't garbage collect __pack_upper_byte character arrays, so attempt 1 was a failure.

[2017-07-21 06:04] Marsfan commented on #54
@agatti have you taken a look at sparkfun? Their board is a v3 with slight tweaks to the layout, and they seem to maintain support on it. I would guess that a majority of v3 boards sold today are because of them.

[2017-07-21 08:34] agatti commented on #54
@Marsfan "Note: This product is a collaboration with Ian Lesnet. A portion of each sales goes back to them for product support and continued development." guess we should just close down shop then :)

[2017-07-21 17:29] Marsfan commented on #54
@agatti I don't think I follow. Ian is the original creator of the Bus Pirate, he works for Dangerous Prototypes, so it is logical that the product is licensed to him, I would guess that other companies pay a small portion of their BP sales to dangerous prototypes, if only to support them. I was just suggesting a site that still makes/supports the bus pirate.

[2017-07-21 19:08] USBEprom opened #59 "I2CEEPROMWIN.c problem."
First to explain the facts I have to make a premise.
I know nothing if this is the right place neither the contents are pertinent, since actually what I will describe is not directly related with the firmware for the Bus Pirate or its developing.
My purpose is not even to solve the matter, the only goal is to report the thing as reference for all.
So said, in order to investigate the weird behavio

[2017-07-22 04:06] agatti commented on #54
@Marsfan fair enough, I was just sneering at the fact that money was still being paid for "product support and continued development", which in an ideal world would make this very project useless as DP would still fix firmware bugs and the like :)  That said, maybe we're all better off to stick with technical issues only over here ;)

[2017-07-23 01:53] andersm commented on #20
Program memory usage
v3: 55479 -> 53229 (-2250 bytes)
v4: 89496 -> 91185 (+1689 bytes)
That is probably the section alignment at play. The more used strings, the higher the overhead.

One thing that came to mind is that it may be cheaper to use NULL-terminated strings than passing it as a parameter.

[2017-07-24 02:02] Marsfan commented on #54
@agatti I would not be surprised if that is something old that they are not aware about. Probably not worth bugging them over, I just wanted to select a good source for getting a  v3. The only BP I have is that model, and it works like a charm with all of @USBEprom's builds.

[2017-07-25 18:37] USBEprom commented on #54
@Marsfan

I agree.
Since the PIC used in the Bus Pirate v3 has some problem requiring workarounds in order to gain I2C in HARDWARE mode, in my opinion it is really possible that it is something old that nobody has noticed until now, also because for what I know never it is existed any firmware for the v3 with natively unlocked I2C HARDWARE protocol.
Someone should have compiled the firmware by him

[2017-07-29 20:07] #20 closed

[2017-08-05 02:36] agatti commented on #54
@USBEprom can you please try to use the HW I2C on v3 now?  I did some cleanups on those bits of code just now.

[2017-09-02 04:47] rehelmin opened #61 "Terminal returning garbage characters"
Hello,

I just loaded the latest firmware today (commit id: feb479a056f1cf2559929a64e36c710a162c64f8) and when I open up the terminal I am getting mostly garbage characters returned from a BPv4.

![bpv4_fw7 1](https://user-images.githubusercontent.com/2601408/29993007-6900e320-8f6f-11e7-90c0-a6cdddd1fb1a.png)

I am running the screen terminal emulator on Mac OSX El Capitan.

Any idea what might be

[2017-09-02 10:29] USBEprom commented on #54
Sorry sir, I had and I have problems with the computer and only now I have seen your message.
My bad!
Because of this still now I can not build any new firmware with your changes because the computer where MPLAB is does not work and I have to repair it.
Unfortunately I think it will be a long thing.
I am really very sorry for all this.

[2017-09-03 16:28] agatti commented on #61
Hrmm, does the commit before that one exhibit the same issue?  Things seem to work fine here, but I'll look into it once more.

[2017-09-07 15:08] azolotko commented on #61
Having the same issue. I noticed that my hex files produced in `Firmware/busPirate.X/dist/BusPirate_v4/production` are much smaller (346K) than those in `package/BPv4-firmware` (962K). Could it be the case that we've missed some build step?

[2017-09-08 07:47] azolotko commented on #61
c7776d5 is okay, and 6cea461 is not.

[2017-09-08 07:50] agatti commented on #61
Thanks a lot for the feedback, I'll look at it right away!

[2017-09-09 20:18] agatti commented on #61
@andersm is there anything that we are missing in your PR #60 ?  Seems like it might require a bit more work and/or figuring out whether certain settings are a prerequisite for the code to work.

[2017-09-10 09:35] andersm commented on #61
I hadn't realized how XC16 handles function pointers on parts with more than 64KiB flash. I'll try to see if this can be worked around, otherwise the change will have to be reverted.

A dirty workaround might be to modify the linker script to place all strings within the first 64KiB.

[2017-09-10 14:33] agatti commented on #61
Thanks, @andersm!  @azolotko, @rehelmin: can you please give this change a try and see if it makes things work for you?

[2017-09-11 06:08] azolotko commented on #61
I've just tried 102260a and it looks good to me. Thanks.

[2017-09-11 06:09] #61 closed

[2017-09-14 23:59] agatti commented on #58
I don't have the necessary hardware to get this sorted out, but then I guess this is a duplicate of #38.

[2017-09-14 23:59] #58 closed

[2017-09-15 00:00] agatti commented on #38
@kallisti5 You've got both a v3 and a PicKit, so I guess you can take a look at this on why on v3 the code does not behave as expected (as per report from #58) :)

[2017-09-15 00:02] agatti commented on #54
@USBEprom no worries, if hardware mode on v3 doesn't work we'll get reports about that - I guess.  However, if you happen to sort the issues out please give that a try and let us know!

[2017-09-20 15:39] satscan commented on #38
I spent some time looking at the code and might have identified the root cause....

The inability to enter bootloader mode is caused by proc_menu.c (static bool __attribute__((address(0x27FA),persistent)) skip_pgc_pgd_check;).

It is referenced in ds30loader.s (.section *, bss, address(0x27FA) / skip_pgc_pgd_check: .space 2) of bootloader 4.5. Previous BPv3 bootloaders (<4.5) don't know anything a

[2017-09-21 01:58] agatti commented on #38
@satscan ok, so you can confirm that the current firmware code *with* the current bootloader for v3 does in fact allow to enter into bootloader mode from the main menu with the '$' command?  If so then I can close the ticket and hopefully start the 7.1 release process.

[2017-09-21 04:51] satscan commented on #38
@agatti Yes, I can confirm the issue is solved by upgrading to latest bootloader 4.5 for BPv3 hardware. My BPv3a had this problem with bootloader 4.3. Updating to bootloader 4.5 fixed it.
I have compiled BPv3-bootloader-upgrade-4.xto4.5.hex and sent it to USBEprom so you should get another feedback. He has a BPv3.x with factory installed bootloader 4.4.
The difficulty seems to be the fact that the

[2017-09-21 08:00] agatti commented on #38
@satscan thanks for the report.  I'll do some cleanup in the bootloaders directory right away and hopefully have an official update package to check in the repo as well.

[2017-09-21 08:19] agatti opened #64 "Deprecate usage of ds30 GUI for bootloader updates?"
Seems like that ds30 gui is the only option for updating bootloaders but there are three issues that need to be addressed:

1. Do we have the licence to redistribute the binary version of ds30 gui?
2. Reflashing the bootloader on Linux or on macOS might not be possible with a windows-only binary.
3. Downloading an updated version of the free ds30 gui version requires registration to a forum.

The

[2017-09-21 09:21] psolyca commented on #64
Hey

Am I wrong but there is also http://dangerousprototypes.com/docs/Pirate-Loader_console_upgrade_application_(GNU/Linux,_Mac,_Windows) to update bootloader with a CLI application.
It is only for v4+ bootloader.

[2017-09-21 09:23] agatti commented on #64
Can you replace the bootloader with that tool?  I seem to recall you cannot do that from pirate-loader.

[2017-09-21 09:37] psolyca commented on #64
I have fast read, it is only for firmware updates.

[2017-09-21 09:38] agatti commented on #64
No worries.  I wonder whether we've got to replicate the updater ourselves by figuring out the ds30 protocol or not.

[2017-09-21 10:04] satscan commented on #64
Hi Alessandro,

you can download the latest free edition of ds30 gui (ds30_Loader_140817
zip) from MicroChip.

http://www.microchip.com.tw/modules/newbb/dl_attachment
php?attachid=1477460000&post_id=73379

Best regards,
Marc

-------Original Message-------

From: Alessandro Gatti
Date: 9/21/2017 10:20:02 AM
To: BusPirate/Bus_Pirate
Cc: Subscribed
Subject: [BusPirate/Bus_Pirate] Deprecate usage of

[2017-09-21 10:07] agatti commented on #64
Interesting.  Searching for "ds30 gui" on google, the microchip link doesn't show up but picbootloader.com has the software for download behind a forum registration.

[2017-09-21 10:11] agatti commented on #64
Ok, the binaries still don't come with a licence, so I'm not sure we can actually distribute these as well :(

[2017-09-21 10:46] satscan commented on #64
ds30 loader is open Source under GNU Public License v2.The  COPYING.txt is just missing from the \ directory. It is present in the three firmware directories.

[2017-09-21 10:51] agatti commented on #64
Yes, although the problem here is for the two .exe files in the archive.  Same issue for Bootloaders/BPv3-bootloader/ds30_Loader_GUI in the source tree.

[2017-09-21 11:04] psolyca commented on #64
Ok, I found some things to try but really do not what we need, I am really an end user.
My source http://www.microchip.com/forums/m515696.aspx
Compiling under *nux : https://embeddedfreak.wordpress.com/2008/10/10/compiling-mplab-c30-v311b-under-linux/
Or use Eclipse as an IDE : https://github.com/ecdpalma/piccbuilder (too old)
To upload the bootloader maybe this one : http://piklab.sourceforge.net

[2017-09-21 11:08] pacmac opened #65 "Binary Mode Python I2C Sniffer"
Really hoping someone can help, I am able to sniff in console mode and send and receive commands no problem with binary mode and the python scripts, but how do I go about reading the sniffed output in python ??

I know that 0x0f (15) calls the sniffer mode, but how can I read (and subsequently decode & format) the returned data packets ?

[code]

I tried the above but it only outputs loads of line

[2017-09-22 10:28] agatti commented on #65
Hi there,

  I'm a bit strapped for time at the moment, but in the meantime you may want to take a look at the code that handles the sniffing: https://github.com/BusPirate/Bus_Pirate/blob/c6fa09018cba7b776766b7211c8c4a82e8e8a426/Firmware/i2c.c#L793 - keep in mind that it is invoked in non-interactive mode.

[2017-09-22 14:42] pacmac commented on #65
Thanks so much for responding, but unfortunately I know nothing about C, my capabilities are limited to scripting (javascript, python) .

but I have made some progress although there appears to be some lost bytes which messes up my ability to extract the address and data bits from the response reliably.

[2017-09-22 20:44] andersm commented on #37
The Apache Software Foundation have an [FAQ](https://www.apache.org/legal/resolved.html#can-works-placed-in-the-public-domain-be-included-in-apache-products) on combining Apache- and PD-licensed code.

I have no idea about its size or quality, but for what it's worth, Microchip's [MLA USB stack](https://github.com/MicrochipTech/mla_usb) is now also available under the Apache 2 license.

[2017-09-22 23:24] USBEprom commented on #38
**@satscan**

Thank you Sir for the **BPv3-bootloader-upgrade-4.xto4.5.hex** file you sent me!
I used it to update the bootloader of my Bus Pirate v3 with **pirate-loader.exe** and it works like a charm!
My BusPirate v3 had the bootloader v4.4 and with your **BPv3-bootloader-upgrade-4.xto4.5.hex** now it has the bootloader v4.5, really great!
I followed these instructions:

http://dangerousprototy

[2017-09-24 14:28] USBEprom commented on #38
@agatti, @kallisti5, @satscan, @all

OK, thank to satscan I have succeeded.
As a reference:

http://dangerousprototypes.com/forum/viewtopic.php?f=28&t=8498&p=67056#p67056

[2017-09-24 14:37] psolyca commented on #64
It seems, USBEprom manage to upload a new bootloader with pirate_loader.exe! See #38

[2017-09-24 18:15] USBEprom commented on #54
@agatti

I am sorry to annoy.
This afternoon I just got to restore my computer and now MPLAB works again.
Then I tried to compile a new custom firmware from the current repository as it is today September 24, 2017, but unfortunately MPLAB gives me errors.
I have errors even by using original configuration.h provided with the content of the repository and I have verified that by compiling a my back

[2017-09-25 02:16] agatti commented on #54
Thanks for letting me know, I fixed the issue you've been experiencing.  Please give it another shot when you've got the time.

[2017-09-25 02:17] agatti commented on #65
Do those bytes get lost even if you sniff data without using your scripts and by manually triggering the I2C sniffer via a terminal on a serial port?

[2017-09-25 02:19] agatti commented on #37
That's awesome news!  I guess that'll be on the table for 7.2 then.  I'll create a new ticket and hopefully track things from there.

[2017-09-25 02:19] #37 closed

[2017-09-25 02:24] agatti opened #67 "Replace the USB stack with Microchip's own MLA code."
Now that Microchip made available its full-featured USB stack available under a compatible licence for inclusion in Bus Pirate's code, it's time to get things up to date on that front.

As mentioned by @andersm in #37 the code is available at https://github.com/MicrochipTech/mla_usb - which makes it sort of suitable for adding the code as a git submodule to make things easier to handle.

Since Sig

[2017-09-25 02:28] agatti opened #68 "Unify pirate-loader code to handle both v3 and v4"
Right now there are two separate pirate-loader codebases, one for each model.  Ideally there should be only one tool to be used for uploading both firmware types.

[2017-09-25 03:19] kallisti5 commented on #68
I assume this is about:

  * Bootloaders/BPv3-bootloader/pirate-loader
  * Bootloaders/BPv4-bootloader/pirate-loader

A quick diff shows that the BPv4 pirate-loader only seems to be a slightly newer version of the BPv3 pirate-loader.

[code]

Are we sure the pirate-loader in _Bootloaders/BPv4-bootloader/pirate-loader_ doesn't work with the BPv3?  The only requirement seems to be "v4+ bootloader".

[2017-09-25 03:26] agatti commented on #68
Technically there's v4.5 as well, which includes the jump to bootloader fix.  However, I have no idea on whether BPv4's pirate-loader works on v3 and whether that can flash bootloaders too.  If that's the case, then we should move pirate-loader from Bootloaders/BPv4-bootloader/pirate-loader to tools/ and remove other copies.

[2017-09-25 03:32] agatti commented on #34
Only #38 and #64 left blocking.

[2017-09-25 03:33] kallisti5 commented on #68
Correct. Tomorrow I will:

* Downgrade my BPv3 + BPv4 to as close to the original release as I can using the PicKit 2
* Attempt upgrades on both purely using the latest pirate-loader.

Any additional steps?  Since both came with the latest bootloader (from what I can tell) it seems like all I need to do is drop the firmware version to pre-v6.2

It sounds like we'll need a documented workaround of

[2017-09-25 03:41] agatti commented on #68
For v4 there should be no real workaround needed I think, but for v3 things can get hairy pretty quickly and bricking the device is a real possibility, so yes, some documentation is needed I think.

As far as additional steps go, short of trying to upgrade v3's bootloader to v4.5 from all released bootloader versions maybe there isn't anything left to do - but this is something that can be done la

[2017-09-25 03:56] kallisti5 commented on #68
I updated the list of bootloaders above.  Do we want to bump the bootloader versions? I didn't see it done in e2bd0a093f3030c7818a9e38a804596fe50343bf or 2bfccf2c027c1bf3ffc28082cb0c6b809b43901c

I assume the BL version is the VER_H and VER_L in bootloader.c for BPv4?  (4 + a,  4.10  , 4.1  )

[2017-09-25 04:06] agatti commented on #68
Ouch, sorry for not bumping the v4 bootloader version - please bump it up then.

On the other hand, the v3 bootloader directory needs a good scrub for sure!

[2017-09-25 04:06] kallisti5 commented on #68
ok. working on a cleanup commit now.

[2017-09-25 04:13] kallisti5 commented on #68
https://github.com/BusPirate/Bus_Pirate/pull/69

tldr:

  * BPv4-bootloader has the latest BPv4 bootloader
     * BPv4 pirate-loader moved to Bootloaders/pirate-loader
  * BPv3-bootloader has the latest BPv3 bootloader
    * old has older bootloaders + the unknown upgrade stuff

[2017-09-25 04:15] agatti commented on #68
Awesome, let's merge the whole lot once the firmware/bootloaders update tests prove successful then.

[2017-09-25 04:16] kallisti5 commented on #68
Sounds good.  I'll append the version bumps in that PR as well.

[2017-09-25 13:44] pacmac commented on #65
No using the console sniff I can copy and paste the output into a text editor and and it seems to be complete.

My work around is always to read 18 bytes, since I know that the device I am sniffing uses 18 bytes for MOST of it's responses.

But what I am really looking for is some code that will convert the binary data into a format that I can extract the bytes I need for further processing.

[2017-09-25 13:47] agatti commented on #65
Well, the lost bytes may be caused by something on your end since the I2C sniffer code is exactly the same for both human-readable and raw binary output.

Can you please provide some sample data you read that you cannot extract the bytes from?

[2017-09-25 13:55] pacmac commented on #65
Thanks, I don't think there is any issue with the bus pirate, but what I am looking for is how to decode the data that is returned in binary format to 'packets' of data starting with the start bit [ and ending with the end bit ]

If I can capture this into a list or array using python then I can extract the data I need !

[2017-09-25 14:07] agatti commented on #65
You mean something like this (completely untested):

[code]

?

[2017-09-25 14:17] pacmac commented on #65
This is a sample of the data copied from the console sniff mode that I would also like to capture using binary mode in python:

`[0x16+0x08+[0x17+0xB5+0x0B-][0x16+0x09+[0x17+0x5D+0x20-][0x16+0x0A+[0x17+0x00+0x00-][0x16+0x10+[0x17+0x14+0x06-][0x16+0x0F+[0x17+0x13+0x00-][0x16+0x0D+[0x17+0x01+0x00-][0x10+0x00+0x01+0xA0+][0x16+0x16+[0x17+0x80+0x02-][0x16+0x08+[0x17+0xB5+0x0B-][0x16+0x09+[0x17+0x5D+0x2

[2017-09-25 14:20] agatti commented on #65
Ok, can you please capture the raw bytes as you read them via

[code]

or something like that?  Whilst the bytes being sent over the serial port and the raw bytes are the same, things are framed differently.

[2017-09-25 14:29] pacmac commented on #65
Really appreciate your help with this, but it's 10:30pm now, here and I can only really hook up the sniffer in the morning, I will use your code sample and let you know what is printed.

[2017-09-25 16:10] kallisti5 commented on #34
Tested current sources on my BPv4. Working as expected minus BL issues in #38

[code]

[2017-09-25 18:57] USBEprom commented on #54
@agatti

Thank you very much Sir, you are the best!
I am sorry to keep annoy though.
With the current September 25, 2017 repository I was able to build new customized firmwares using option 1 and option s but when I change line 382 and 391 inside the configuration.h file in order to unlock hardware mode for the I2C protocol, then MPLAB still gives me errors as shown in attachments:

[O1.txt](https

[2017-09-26 11:02] pacmac commented on #65
When I try and use your sniff raw byte routine, I get an error:

[code]

I tried to catch the error, but then nothing is printed:

[code]

[2017-09-26 11:22] pacmac commented on #65
I modified the function and get this:

[code]

[code]

I have added carriage returns to the end of each packet to make it easy for you to see, but how do I know which are values and which are format chars ?

[2017-09-27 12:00] pacmac commented on #65
Thanks so much for your help, I could not see initially how to detect a value from a formatter character, but now realise that a value byte is escaped (//) and it is all now working as expected.

Thanks again.

[2017-09-27 12:00] #65 closed

[2017-09-28 17:54] USBEprom commented on #64
@psolyca

That is correct:

http://dangerousprototypes.com/forum/viewtopic.php?f=28&t=8498&p=67056#p67056

[2017-09-28 20:07] USBEprom commented on #38
About the message "**nothing to do**" issued by **ds30_Loader_GUI.exe** of which I wrote, actually it is due a wrong configuration made by myself in **ds30_Loader_GUI.exe**.
It was my fault, **ds30_Loader_GUI.exe** does not give any problem, it works exactly as expected as I just checked.
Please, sorry for the mistake.

[2017-09-29 07:18] agatti opened #70 "Bootloader should not hang after pirate-loader --hello"
Right now, BPv4's bootloader will hang after checking the state/version via `pirate-loader --hello`, and the only way to recover from that situation is to either power cycle the board or press the reset button on the board itself.

[2017-10-06 20:12] USBEprom opened #71 "Starting Bus Pirate with customized baud rate, how?"
Hi guys, sorry for disturbing.
As mere curiosity, wanting to set a different customized default baud rate for the terminal how is it supposed to do it?
Normally the default baud rate for the Bus Pirate is set at 115200bps to communicate via terminal.
Now, if for instance wanting to set it to 2000000bps, what should be done to achieve the goal?
I have tried to build a custom firmware that has 20000

[2017-10-06 20:50] jevinskie commented on #71
I wrote a Python script to automatically generate the UART config register values for baud rates > 115200. I was able to reliably use 1.5 Mbps but I had to hook up (using a short fly wire) and configure the PIC to use the 16 MHz clock output from the FTDI chip. Using the internal RC oscillator on the PIC will cause too much slop in the UART timing between the FTDI and PIC otherwise.

https://githu

[2017-10-07 15:26] agatti commented on #71
Indeed, 2Mbps might be too fast for the PIC to handle.  On the other hand, I wonder about the usefulness of having the UART going that fast, since the Bus Pirate was never meant to handle high speed data to begin with.  If you really have to sample data sources that spew out data that fast, I'd say you're better off with a hardware logic analyser rather than with a dedicated circuit hooked up to t

[2017-10-07 16:32] USBEprom commented on #71
@jevinskie

Thanks for the reply, me too I thought about scripting.
The whole matter is this:

http://dangerousprototypes.com/forum/viewtopic.php?f=4&t=1776#p67086

In that kind of scenario custom firmware would be better than use scripting that are depending on other programs and languages as well as on the operating system working on the computer.

Talking about something else.
I looked at the l

[2017-10-27 15:28] USBEprom commented on #68
@kallisti5

For what I know and experimented pirate-loader does work with Bus Pirate v3 by allowing me to upgrade bootloader from v4.4 to v4.5:

http://dangerousprototypes.com/forum/viewtopic.php?f=28&t=8498&start=75&sid=c72e26d3dde472fbd8ab7226df6d3db8

http://dangerousprototypes.com/forum/viewtopic.php?f=28&t=8498&start=75&sid=c72e26d3dde472fbd8ab7226df6d3db8#p67127

Just out of curiosity.

kall

[2017-10-31 05:47] NTICompass commented on #38
If I am currently on "Firmware v6.2-beta1 r1981  Bootloader v4.4" (on my Bus Pirate v3.5), is there any way to "fix" it so I can access the bootloader again?

[2017-10-31 05:54] agatti commented on #38
@NTICompass I suppose you can try to update the firmware via the package mentioned in https://github.com/BusPirate/Bus_Pirate/issues/38#issuecomment-331713632 if all you have is the BPv3 unit and no other way to program PIC24 chips.

However, is such a function really useful?  I mean, you can always short PGC & PGD and then reconnect the device to achieve the same effect, and the bootloader should

[2017-10-31 06:01] NTICompass commented on #38
@agatti Shorting PGC/PGD did the trick :)

[2017-11-07 16:37] luizgribeiro opened #72 "Error compiling"
Hello there.

I'm trying to compile the firmware from source since my BP v4 came without the UART mode.

I'm using xc16 version 1.33 with MPLAB v4.05 . When I try to build & Clean (like it says on dangerous prototypes documentation) the following is shown on display:

CLEAN SUCCESSFUL (total time: 58ms)
.
.
.
"/opt/microchip/xc16/v1.33/bin/xc16-gcc"   ../dp_usb/cdc.c  -o build/BusPirate_v4/product

[2017-11-07 18:33] agatti commented on #72
I just rebuilt the firmware with xc16 1.32 and MPLAB-X 4.0.1 and it worked as expected.  Let me update xc16 and see what happens then.

[2017-11-07 19:02] agatti commented on #72
Fixed with a6202ec98938286131dd1b3ef8b6e119285ee584.

The COE configuration bit was supposed to enable (or rather disable in this case) clip-on emulation support, which seems to have been removed/renamed/whatever, as it was not really applicable to this project anyway.

[2017-11-07 19:02] #72 closed

[2017-11-07 19:38] luizgribeiro commented on #72
Thanks very much.

I'll try to rebuild asap.

[2017-11-08 23:54] fbruetting opened #73 "Firmware update via fwupd"
Would it be possible, to make (all, even older) firmware versions available via [fwupd](https://github.com/hughsie/fwupd)? This way, we Linux users could update/downgrade firmware VERY easily and comfortable! :D

[2017-11-09 00:08] JarrettR commented on #73
Seems that that would eliminate Windows support?

[2017-11-09 00:10] fbruetting commented on #73
No, it would just enhance the Linux support. Windows procedure won’t be touched.

[2017-11-10 20:53] USBEprom opened #74 "Errors while compiling for Bus Pirate v3 and mismatched messages."
I am sorry to keep annoy but while compiling for Bus Pirate v3 using the current November 07, 2017 repository still I have same problems as I wrote here:

https://github.com/BusPirate/Bus_Pirate/issues/54#issuecomment-331978946

Plus a dangerousprototypes' forum user noticed that some message into SPI protocol are wrong:

http://dangerousprototypes.com/forum/viewtopic.php?f=28&t=8498&p=67167#p6716

[2017-11-12 08:17] agatti commented on #73
Unfortunately this is not as easy as it might look like.  Already-existing units probably have one of the following two issues that might prevent automated firmware installation: https://github.com/BusPirate/Bus_Pirate/issues/38 and https://github.com/BusPirate/Bus_Pirate/pull/69#issuecomment-331912416 .  The latter may require having to clean the flash with an external PIC programmer to be worked

[2017-11-12 14:54] agatti commented on #74
@USBEprom I fixed the compilation error, but I wonder why it never triggered on my installation.  Maybe from now on you may want to use a more modern version of MPLAB-X, v4.05 has been available for a week or two now.

[2017-11-12 14:59] agatti commented on #74
@USBEprom the backslash issue was fixed in 47f5c59d9c92ee2ace8bea40b985722f8d71aee5 a couple of months ago, by the way.

I'm closing this since both issues seem to have been addressed, please reopen if those issues persist, thank you.

[2017-11-12 14:59] #74 closed

[2017-11-12 18:58] USBEprom commented on #74
@agatti

Thank you Sir, as usually you are the best!
Now it is possible to compile without errors but sadly still does not works because then there are not setting into menus' items as explained here:

https://github.com/BusPirate/Bus_Pirate/issues/54#issuecomment-331978946

However as you suggested me I am upgrading to MPLABX-v4.05 and xc16-v1.33 in order to exlude their fault.
I will send the re

[2017-11-12 23:28] fbruetting commented on #73
Maybe you can ask the dev of [ColorHUG](https://github.com/hughski/colorhug2-firmware) (@hughsie) for advice – this is also just a microcontroller, which doesn’t seem to be *that* popular. :)

[2017-11-12 23:50] agatti commented on #73
Perhaps I expressed myself incorrectly.  The main issue here is that there is no way to be able to provide automated updates for Bus Pirate boards for more than 90% of the boards that are currently deployed due to a combination of problems in various releases of firmware/bootloaders that were installed before v7.1 (which is currently not yet released due to one of these issues blocking the whole l

[2017-11-13 09:39] hughsie commented on #73
Thanks! Could there be a plan going forward, i.e. designing future bootloader/firmware versions with fwupd support in mind? Updating using fwupd has to be 100% safe; we can't show the user a dialog saying "you need to go buy a hardware programmer..." so maybe trying to retrofit this into older bootloader/firmware versions isn't going to work. Out of interest, what firmware update protocol is being

[2017-11-13 10:05] agatti commented on #73
Theoretically speaking, any board with firmware version 7.1 and the latest matching bootloader for its hardware type should be able to handle something like fwupd via an `expect`-like mechanism to be able to jump into bootloader mode and then talk directly over the serial port as if it was brought up in firmware update mode to begin with.

Right now the firmware uploading method is based on the op

[2017-11-13 14:30] agatti commented on #73
Ok, turns out that the VID:PID pair associated with the Bus Pirate v4 seems to be indeed unique, according to [this page](http://www.linux-usb.org/usb.ids), but the Bus Pirate v3 - whilst it can be configured with a custom VID:PID pair using FTDI's MPROG tool - does not have one assigned.

[2017-11-13 14:35] hughsie commented on #73
Do you have any documentation on the protocol used in ds30? Thanks.

[2017-11-13 15:06] agatti commented on #73
I haven't found any formal document but here's what I could surmise by looking at the source code of the firmware upload programs that come with the Bus Pirate.  Please keep in mind that I don't know if anything has been altered from the original DS30 bootloader protocol, I'll take a look later for that, but hopefully this should get you going for the time being.

### Handshake:

Write `0xC1` (1 b

[2017-11-13 15:13] hughsie commented on #73
That seems simple enough -- would it be possible to get a Bus Pirate so that I can write a fwupd plugin for the DS30 protocol? It doesn't have to actually work as a Bus Pirate, I just need the chip and the USB socket for https://blogs.gnome.org/hughsie/2017/11/07/hardware-ci-tests-in-fwupd/ . If this sounds like something you guys can sort, please grab me off-issue (richard_at_hughsie_dot_com) and

[2017-11-13 15:23] agatti commented on #73
Unfortunately the project itself has been effectively abandoned by the original designer, and whilst the hardware is currently being sold worldwide, this project is the only effort in bringing the firmware forward that we are aware of.  Due to the apparent lack of interest from board resellers, we are using our own boards for development, after being dissatisfied on how the project was left to rot

[2017-11-14 13:55] hughsie commented on #73
That's no problem at all. If you do IRC, we're #fwupd on freenode, or we have a mailing list too: https://groups.google.com/forum/#!forum/fwupd﻿ -- we're all friendly, so don't be afraid about asking questions. We have some initial docs about writing plugins here too: https://people.freedesktop.org/~hughsient/fwupd/plugin-reference.html

If you get stuck with compiling fwupd, please also let me kn

[2017-11-16 07:01] diginfo opened #75 "help with bulk read"
I am struggling to understand bulk_trans, I thought that I could use it to read multiple bytes by repeatdly calling read_byte() in a loop but it only returns the first 3 values and then repeats the 3rd value and does not appear to read any more.

Would appreciate if anyone can help with this ?

[code]

The output is:

`[232, 28, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 1

[2017-11-16 14:14] agatti commented on #75
Does the same thing happen when manually issuing the commands from the Bus Pirate when connected via a terminal program?

[2017-11-17 05:41] agatti commented on #73
Got it. That's something that I'll look at once I'm back to Europe and the 7.1 firmware is wrapped up.

[2017-11-17 05:50] agatti opened #76 "Migrate bootloader from DS30 to a custom one that's P24QP compatible"
Deprecate DS30's bootloader and use something that follows Microchip's [AN1157 application note](http://ww1.microchip.com/downloads/en/AppNotes/01157a.pdf) allowing for potentially better integration with [fwupd](https://fwupd.org) and interoperability with existing PIC flashing programs.

[2017-11-17 05:52] agatti opened #77 "Migrate bootloader from DS30 to USB DFU standard update method"
Deprecate DS30's bootloader and use the standard [USB DFU](http://www.usb.org/developers/docs/devclass_docs/DFU_1.1.pdf) flashing method allowing for potentially better integration with [fwupd](https://fwupd.org) and interoperability with existing DFU tools.

[2017-11-17 05:54] agatti commented on #70
There's no need for this anymore if DS30 is going to be replaced, after all.

[2017-11-17 05:54] #70 closed

[2017-11-19 16:56] valholl commented on #28
I see that there is no update on this issue since last year: are there news?

I need a JTAG programmer and was considering buying a bus pirate, and I wanted to know if I should buy a v3 or if in the month or so that international shipping can take I'm going to read that support has been added for v4 and regret my purchase :)

[2017-11-19 17:05] USBEprom commented on #74
As promised today I was able to set a Linux environment (Ubuntu LTS 14.04.3) where I installed MPLABX_v4.05 and xc16_v1.33 both fully working.
Using it I have built test firmwares starting from the current repository then sadly falling into the same problem described here:

https://github.com/BusPirate/Bus_Pirate/issues/54#issuecomment-331978946

The firmwares are compiled without error but the pr

[2017-11-19 18:46] USBEprom commented on #74
A tiny news, if it can be useful.
Actually option items are not totally gone, in fact by using the command "W" [PSU (off/ON)] them all are there.
Seems to me that the warning

**Clutch disengaged!!!
To finish setup, start up the power supplies with command 'W'**

is triggered bad at the wrong time so then by sending the command "W" as suggested by the spurious message not only power supplies are s

[2017-11-19 18:54] USBEprom opened #78 "Bus Pirate v3 and mismatched and hidden messages."
With reference to issues 54 and 74:

https://github.com/BusPirate/Bus_Pirate/issues/74
https://github.com/BusPirate/Bus_Pirate/issues/54#issuecomment-331978946

Actually option items are not totally gone, in fact by using the command "**W**" [PSU (off/ON)] them all are there.
Seems to me that the warning

**Clutch disengaged!!!
To finish setup, start up the power supplies with command 'W'**

is tr

[2017-11-20 10:49] agatti commented on #28
Hi there, unfortunately your best bet is to get a v3 right now.  OpenOCD for v4 is scheduled for v7.2, which is scheduled sometime early next year at least.  Right now we're stuck in figuring out the best way to provide a smooth upgrade path from the old firmwares to this one, and that seems to be tricky to handle in an optimal way...

[2017-11-20 10:50] agatti commented on #74
Ok, I'll close this one and move onto the other report, thank you.

[2017-12-18 10:28] agatti commented on #75
Closing due to lack of response.

[2017-12-18 10:28] #75 closed

[2017-12-24 09:07] agatti commented on #71
@USBEprom you can try to change `bus_pirate_configuration.terminal_speed` in main.c:171 to a value between 0 and 9.  That value is the index inside `UART_BRG_SPEED` in uart.c:55, so if you want to add your own baud rate just add a new entry in that table and update `bus_pirate_configuration.terminal_speed` accordingly.  Keep in mind that the Bus Pirate v3 uses an external USB to UART adapter so ce

[2017-12-24 23:07] USBEprom commented on #71
@agatti

Thanks for your kind reply Sir.
You are teaching a lot to me and many others.
I will try your hints and i will let you know.
Thanks again and merry Christmas!

[2018-01-04 21:25] USBEprom commented on #71
HNY Sir.
Sorry for the late.
I did a test and it seems to work just like you wrote, but only with standard baud rates (300bps, 57600bps, 38400bps and so on), using the not standard value 2000000bps it does not work.
However maybe it is my fault because I should try with lower non-standard values, something like 250000bps (or leven less) for example.
2000000bps could be really too many.
I used the

[2018-01-06 12:08] USBEprom commented on #71
OK Sir, as always I am babo while you are 100% right, so you won again!
Sadly there is still #78, but that is a different problem, I confirm that what you wrote is totally correct and working!
I tried many not standard values and always it works, of course even 2000000bps (this latest one is really very fast, much faster compared to standard 115200bps, response of the terminal has significantly im

[2018-01-06 17:05] #71 closed

[2018-01-07 02:47] sajattack opened #79 "Document how to build and flash"
I see no documentation for building this firmware and flashing it to a buspirate.

[2018-01-07 14:17] agatti commented on #78
This should have been fixed with 1070a0ec0efcab3d9d87a637838a8223785877af.  Can you please check if it works for you?

[2018-01-07 21:25] Marsfan commented on #79
I cannot speak regarding building firmware (I have no experience with PICs, and I have no clue if [this ](http://dangerousprototypes.com/docs/Compile_the_Bus_Pirate_firmware)doc on the DP website still works for building). But I know that [this](http://dangerousprototypes.com/docs/Pirate-Loader_console_upgrade_application_(Linux,_Mac,_Windows)) document on the DP website covers the proper method f

[2018-01-07 21:43] sajattack commented on #79
Yeah I found the document on flashing online. If that document for compiling is accurate, that's terrible UX. Why can't there just be a makefile?

[2018-01-07 22:30] Marsfan commented on #79
No clue. I don't do development, I am just an end-user with a github account.

[2018-01-07 23:18] JarrettR commented on #79
Because Microchip.

You will notice that MPLAB X generates makefiles that are presumably called when hitting "Build" from inside the IDE.
You're welcome to play around with those makefiles and see if they work, and document if it does or what changes must be made to fix it. At the very least, you will still need to install the XC16 compiler.

I'd be curious about this too. I have MPLAB X set up al

[2018-01-08 18:47] agatti commented on #79
Theoretically speaking, you can install XC16, have it set into your PATH variable (the installer does ask whether you want that or not) and with some CMake magic get a HEX file ready to be flashed.

However, right now there's no real need for automated build or the like since you cannot easily interact with a BP board from Travis or other CI services.  If avoiding MPLAB-X is a personal preference

[2018-01-08 19:02] sajattack commented on #79
Ah darn, guess I picked a bad time to buy a bus pirate.

[2018-01-08 19:06] agatti commented on #79
Not really.  Development of the new version just started (and wasn't really announced anywhere as far as I can tell) - and this doesn't mean your unit will stop working once the new one is done :)  I guess it'll take them some time to get something out, and who knows if they'll drop the v4 like a hot potato - which was the main reason behind this project in the first place.

[2018-01-08 21:07] USBEprom commented on #78
Thank you very, very much Sir, you are great!
I confirm that it is gone!!
Terrific job, well done Sir!!!

[2018-01-08 21:11] #78 closed

[2018-01-08 23:05] sajattack commented on #79
I got it building with the Makefile generated by MPLAB-X. However, when attempting to flash the resulting busPirate.X.production.hex with pirate_loader, it tries to erase page 42, which doesn't exist, and so it fails to flash.

[2018-01-08 23:08] agatti commented on #79
Believe it or not, it actually flashed successfully.  The last few pages are barred from being written by the bootloader, but the flasher program blindly goes through the whole chip data area.  You can check by unplugging the BP unit, remove the PGC/PGD short, reconnect and check the version :)

[2018-01-08 23:10] sajattack commented on #79
Ah, right you are. Cool

[2018-01-08 23:13] agatti commented on #79
Good to know.  I'll keep this issue open so if somebody is willing to write a proper guide/introduction in markdown format for me to merge into the repository and/or write a simplified blurb for README.md, things can be tracked here.

[2018-01-08 23:24] sajattack commented on #79
Yeah, I'll probably get to work on doing just that.

[2018-01-08 23:31] sajattack commented on #79
I'll submit a separate PR for the Makefiles. How do I select to build for BPv4?

[2018-01-09 04:02] sajattack commented on #79
#81

[2018-01-10 09:30] agatti commented on #79
Thank you!  I'll take a look at it right now and see if I can add something more for macOS and Windows then.

[2018-01-10 09:43] #79 closed

[2018-01-10 20:21] USBEprom commented on #54
@agatti

Ok Sir, right now I am testing new firmware built starting from the latest repository dated January 07, 2018 and it seems that the problem into I2C protocol while in HARDWARE mode has been solved!
Please, take a look at what follows:

i
Bus Pirate v3.5
Community Firmware v7.1 - goo.gl/gCzQnW [HiZ 1-WIRE UART I2C SPI 2WIRE 3WIRE KEYB LCD PIC DIO] Bootloader v4.5
DEVID:0x0447 REVID:0x3046 (

[2018-01-10 21:24] agatti commented on #54
The only major change I can see on the I2C subsystem is building with Optimisation Level 1 by default, nothing much else.  Oh well, if it works for you, that's still good to know!

[2018-01-10 21:24] #54 closed

[2018-01-10 21:36] agatti commented on #23
@USBEprom is this problem still happening on your board?

[2018-01-11 21:19] USBEprom commented on #23
Sorry for the late reply.
I have not any analyzer or oscilloscope and the usual friend of mine did some shots for me.
Based on what is possible to see even the new firmware built starting from the current repository dated January 7, 2018 works with a reduced speed clock.
Sadly the thing is working bad as before.
Using I2C HARDWARE mode the clock timing are the correct ones, 100kHz, 400kHz and 1MHz

[2018-01-13 02:44] mike01 opened #82 "Firmware upgrade needs connected PGC/PGD PINs"
After upgrading my Buspirate v3 to the newest Firmware (master branch) I noticed triggering Bootloader/Upgrade-mode via "$" isn't enough anymore: the PGC/PGD PINs need to be connected additionally to trigger the Bootloader/Upgrade-mode, which wasn't needed in the prior/shipped Firmware .

[2018-01-13 10:43] USBEprom commented on #82
Hi mike01.
Firmware revisions built from the last released repositories work only with the v4.5 bootloader.
Without upgrading to v4.5 it will not be possible to jump into bootloader from terminal using command $, so that instead it will be necessary to use jumper on PGD and PGC:

https://github.com/BusPirate/Bus_Pirate/issues/64

https://github.com/BusPirate/Bus_Pirate/issues/38

http://dangerousp

[2018-01-13 11:55] mike01 commented on #82
Ok thank you. So the new Firmware got more dependent to the bootloader by introducing the "skip_pgc_pgd_check" variable which has to be set prior rebooting instead of directly jumping to "#BLJUMPADDRESS". Hm I think I'll stick to the old bootloader for my firmware mods just to be save.

[2018-01-27 17:36] mike01 commented on #32
Looks nice. As it's SUMP compatible, does it also work with sigrok-cli? Are there any example-calls which are known to work?
Another feature which (normally) should be easy to develop would be Run Length Encoding but looking at the code the timing seems to be too critical (especially at 16MHz) to allow any additional clock cycles to be wasted when sampling.

[2018-01-28 11:56] USBEprom commented on #32
Since sigrok claims to support the Pirate Bus, sigrok-cli should also support it:

https://sigrok.org/wiki/Dangerous_Prototypes_Buspirate

https://sigrok.org/wiki/Supported_hardware#Logic_analyzers

Something like this

sigrok-cli --driver ols:conn=/dev/ttyUSB0

should start the whole thing when it correctly installed and functioning.
It would be necessary to try it, I do not use neither sigrok no

[2018-01-31 09:27] ds2k5 opened #83 "Noob: BP 3.6 clone - defect ???"
Hello,
got a BP 3.6 clone (printed ob ciruit board)

picocom -b 115200 /dev/ttyUSB0

[code]
But the menu say Version 3.5
[code]

**Here some errors, (no devices connected to the BP)
is this OK or is the board damaged ?**

Thanks

[2018-01-31 09:50] agatti commented on #83
`VPU(0.00) FAIL` and `ADC(0.00) FAIL` might be there because you did not wire up Vpu and ADC pins. `MOSI`, `CLK`, `MISO`, and `CS` failing when the board is in high impedance mode looks strange enough.  I'll see if this is triggered by a software fault, as if it was a wiring issue I'd expect that to fail with the bus being high or low, not while being disconnected.

[2018-01-31 10:27] ds2k5 commented on #83
Thanks, is it possible that need JUMPERs ?

http://dangerousprototypes.com/blog/2009/07/28/bus-pirate-self-test-guide/

[2018-01-31 20:01] USBEprom commented on #83
@ds2k5

You totally need JUMPERs.
Here you go the output for my Bus Pirate v3.6 while I am purposely performing selftest without JUMPERs:

~
Disconnect any devices
Connect (Vpu to +5V) and (ADC to +3.3V)
Space to continue
Ctrl
AUX OK
MODE LED OK
PULLUP H OK
PULLUP L OK
VREG OK
ADC and supply
5V(4.96) OK
VPU(0.00) FAIL
3.3V(3.31) OK
ADC(0.00) FAIL
Bus high
MOSI OK
CLK OK
MISO OK
CS OK
Bus Hi-Z 0
MO

[2018-02-01 08:50] agatti commented on #83
[code]

This shouldn't happen to begin with.

[2018-02-03 09:13] larks opened #84 "Compiled firmware not working on board v3.5"
Hi,

I have a BP v3.5 and wanted to modify it a bit so that I have two AUX pins by reconfiguring the ADC pin and changing out the resistor networks so the ADC pin no longer has a voltage divider on it's output.

However, I am not able to get the standard firmware working on my unmodified board.
I download the compiler and IDE as per the instructions, cloned the repository and built the project.
Wh

[2018-02-03 10:13] USBEprom commented on #84
@larks

Actually that error message does not mean that something is wrong with the firmware.
More than a matter of bootloader it is a issue with pirate-loader or related tools.
Please read here:

https://github.com/BusPirate/Bus_Pirate/issues/7#issuecomment-248103673

https://github.com/BusPirate/Bus_Pirate/issues/7#issuecomment-273879409

http://dangerousprototypes.com/forum/viewtopic.php?f=28&t=

[2018-02-03 11:03] larks commented on #84
@USBEprom

Thank you for your reply.

I have been reading those, and got that it was an issue with pirate-loader.
Yes, I am using jumper on PGD and PGC to boot to the bootloader.
Is there any other issue that would make the UART completely silent if I am running bootloader 4.4?
I thought the only difference was how the bootloader gets loaded?

[2018-02-03 11:21] USBEprom commented on #84
@larks

For what I know there is no other problem that the non-operation of the $ command to put the Bus Pirate into bootloader mode, problem that can be bypasses by jumpering PGD and PGC.

[2018-02-03 13:24] larks commented on #84
I did a bit of debugging, and the problem seems to be related to this function:
https://github.com/BusPirate/Bus_Pirate/blob/master/Firmware/base.c#L545-L588

The current implementation is not setting up UART1 in the correct way.
As per the manual, the U1MODE register has to be set before setting the UTXEN bit in the U1STA register.

Switching so that U1MODE is setup before U1STA fixed the problem

[2018-02-03 16:46] USBEprom commented on #84
@larks

Sorry I missed what you wrote about the UART side.
How would be possible replicate it exactly?
I built new firmware starting from repository dated 7 January 2018 and I do like to check it for the UART issue you just wrote.
Thanks

[2018-02-03 17:09] larks commented on #84
@USBEprom
My steps where:
1. Build project in MPLABX
2. Flash Bus Pirate with built firmware using pirate-loader
3. Connect to BP UART using favorite method
4. No sign of life on UART, i.e. no input or output

Additional information:
Board is Bus Pirate v3.5 from Sparkfun with Bootloader v4.4
Currently tested firmware only has I2C and UART enabled, but same problem occured with the default configu

[2018-02-03 17:12] ds2k5 commented on #83
Now with JUMPERs!  It work!

Thanks to all

[code]

[2018-02-03 18:02] USBEprom commented on #84
@larks

I know I am a lot babo,sorry.
What do you mean with connect to BP UART using favorite method?
Do you mean start UART protocol by choosing it into the terminal (for instance Putty)?
If so with mine does not happens nothing weird, my Bus Pirate respond correctly without hang or something like that.
The firmware I built has all the available features enabled, I2C hardware mode and BASIC too.

[2018-02-03 18:22] larks commented on #84
@USBEprom
Yes, connect USB and start e.g. Putty.

Hm, that's strange. Is it possible to ask what micro-controller version is mounted on your Bus Pirate?
I am referring to what this line says when you issue command "**i**" in Putty:

  DEVID:0x0447 REVID:0x3046 (**24FJ64GA002 B8**)

I think I have a Bus Pirate from Seeed Studio in my lab at work, so I can check there to see if the same happens.

In

[2018-02-03 20:39] USBEprom commented on #84
@larks

Here is the output of the terminal while issuing the command 'i' on my Bus Pirate v3.6 from Seeed Studio:

**i
Bus Pirate v3.5
Community Firmware v7.1 - goo.gl/gCzQnW [HiZ 1-WIRE UART I2C SPI 2WIRE 3WIRE KEYB LCD PIC DIO] Bootloader v4.5
DEVID:0x0447 REVID:0x3046 (24FJ64GA00 2 B8)
http://dangerousprototypes.com
HiZ>**

Me too I use MPLABX v4.05 with xc16 v1.33 toolchain (on Ubuntu LTS 16.0

[2018-02-04 10:35] #83 closed

[2018-02-06 09:10] #82 closed

[2018-02-06 17:10] #84 closed

[2018-02-07 13:49] ChristopherSamSoon opened #88 "I2C binary command 0x08 (write_then_read) does not function correctly"
The binary command 0x08 does not function correctly if we want to write to and then read from and I2C device

In order to perform a write followed by a read operation, I2C requires that a repeated start condition is to be placed on the bus after the write operation. After the repeated start condition has been sent, the address (could be another address) is then resent before reading operation begi

[2018-02-09 12:04] aten10 opened #89 "Bus Pirate hangs if W not enabled"
Hi,

Tested on firmware version 6.3-beta1 r2151 (spi_fix) and also the SAFE_13042017_1.
Bootloader v4.5
W is turned off as i am using Vpu with external voltage of 1.7v.
Bus Pirate just hangs on SPI read command {0x9F rrr]

it works on firmware v 5.10 (r559) bootloader v4.4

[2018-02-09 13:01] agatti commented on #89
Hi there!  Firmware versions below 7.0 were entirely developed by Dangerous Prototypes, so we didn't really had much to do with that one.  Can you please try with the current code to see if that still happens?

[2018-02-09 13:41] aten10 commented on #89
Hi!
Yes same issue, just hangs. see below. (i reverted back to 6.3 as had found mention of an SPI fix)

SPI>v
Pinstates:
1.(BR)  2.(RD)  3.(OR)  4.(YW)  5.(GN)  6.(BL)  7.(PU)  8.(GR)  9.(WT)  0.(Blk)
GND     3.3V    5.0V    ADC     VPU     AUX     CLK     MOSI    CS      MISO
P       P       P       I       I       I       O       O       O       I
GND     0.00V   0.00V   0.00V   1.77V   L

[2018-02-13 15:01] agatti commented on #88
Hi there!  Does this issue occur with pre-7.0 versions of the firmware or has it always been like this?

[2018-02-13 15:02] agatti commented on #89
Ok, great.  I'll see what I can do for this then!

[2018-02-14 00:56] ChristopherSamSoon commented on #88
This issue was noticed in firmware release 7.1 (community firmware edition). I also expect the pre-7.0 versions to have similar behaviour. However, I did not test the pre-7.0 versions.

In regards to my above post, I would like to make a correction:

"In order to perform a write followed by a read operation, I2C requires that a <s>repeated start</s> **stop-start** or **repeated start** condition i

[2018-02-14 09:25] agatti commented on #88
Taking a look at your code would be helpful indeed, however adding clock stretching for SW I2C might be left out for 7.1 at this point and will have to be pushed to 7.2.  I'll create a specific issue to track this very problem then.

[2018-02-14 09:26] agatti opened #90 "Add I2C clock stretching in software mode"
As mentioned in #88, I2C clock stretching in software mode is currently missing.

[2018-02-14 12:30] ChristopherSamSoon commented on #88
Below is the code snippet of function void binary_io_enter_i2c_mode(void) in i2c.h for command 0x08

As you can see I have re-written the portion to use hardware_i2c, but it can easily be replaced with software i2c function calls (even though clock stretching will not be supported. Not shown inside is the setup code that allows the buspirate to enter hardware mode

[code]
`

[2018-02-14 12:40] ChristopherSamSoon commented on #90
Hi Agatti,

I can work on this no problem. The strategy here is to allow the bit-bang mode be modified to allow clock stretching for I2C while still maintaining the same functionality for other modules (because the bitbang functions are shared with the other protocols)

There are two solutions
1) Add an extra parameter to the bitbang functions that indicate whether there should be clock stretching

[2018-02-14 13:44] ChlorideCull commented on #29
I'll see if I can get on-board SWD support up and running once I get my Bus Pirate v4, I assume it will take a  while to get here because of the Chinese New Year.

[2018-02-14 21:14] agatti commented on #89
Ok, I can reproduce this on v4 as well.  The SPI1 interrupt flag never gets triggered when writing data in this case:

[code]

[2018-02-14 21:34] agatti commented on #89
So, this issue is not really easy to solve per se, as it exposes a fundamental issue on how protocols are handled internally.

Right now, each protocol/module (a.k.a. what shows up when you use the `m` command) setup phase is split in two parts, the first one being performed whenever the protocol is chosen, and the second one being performed when the `W` command is issued.  In this very case, the

[2018-02-14 21:36] agatti commented on #88
Thank you, I'll take a look at this as soon as possible.

[2018-02-14 21:38] agatti commented on #90
That may work - although I'd try to make sure that as much code is shared as possible between bitbang functions.  Keep in mind that the RAW2WIRE protocol does use bitbang functions in an I2C-like fashion too.

[2018-02-14 22:34] aten10 commented on #89
Ok, for some reason I thought 5v was from the bus pirate! (usb power) I will test tomorrow!
In the meantime I used flashrom to achieve what I wanted to do

[2018-02-15 07:56] aten10 commented on #89
Can confirm works fine, thanks!

[2018-02-15 08:21] #89 closed

[2018-04-14 11:05] witkop opened #92 "BP4.0 Error when trying to Update Firmware"
![bp4 error](https://user-images.githubusercontent.com/3640191/38767576-d65c7afc-3fdb-11e8-9cd9-a25e504796c8.JPG)
I am trying to update my BP4.0 to the latest V7.0 firmware but not having much luck.
I keep getting an error, after pirate-loader sends "Hello". No response. PGC and PGD are linked.

Any suggestions would be gratefully received.

[2018-04-29 19:46] ubidefeo commented on #88
Hi everyone!
I can confirm this has been affecting 7.0 as well.
I'm communicating with an STMPE811 touch screen controller which requires a restart condition to read after writing device+register addresses

It works well from an Arduino Micro and UNO but fails miserably from the BP4 running 7.1 (upgraded yesterday to see if it fixed the issue).

The read values I get back are messed up and often n

[2018-05-03 13:43] ChristopherSamSoon commented on #88
Hi All !

Ok, I just forked the repo and implemented the fix for command 0x08.
Link : https://github.com/ChristopherSamSoon/Bus_Pirate

Inside the forked repo, you will be able to find the compiled binary hex file
Tested with buspirate-v4.

I will open a pull request for the fix to be merged to the base branch.

On a different note: The software I2C mode clock frequency is 1kHz max even if you sel

[2018-05-03 13:47] ubidefeo commented on #88
thank you, @ChristopherSamSoon
I'll clone that and compile it on my machine so I can test with the specific chip I'm using.
will keep you posted on the results :)

[2018-05-03 14:02] ChristopherSamSoon commented on #23
Hi All,

Sorry, I am late to the party.

I can confirm that this issue happens on buspirate V4. For an I2C setting of 100KHz / 400KHZ, the average clock frequency on SCL is only 1KHz.

Also, with the max clock settings ( zero delay needed) , therefore, no delay and no function call to by_delay, the max observed SCL clock frequency is ~ 200 KHz.

[2018-05-03 14:07] ChristopherSamSoon commented on #88
@ubidefeo , Let us know if this fix your problem! We can help you if you have any further issues

[2018-05-03 14:09] ChristopherSamSoon commented on #88
* I'm sorry, I pressed the wrong button and closed this issue by accident

[2018-06-07 13:31] mikebdp2 opened #94 "3 new commits at the "official" DP Bus_Pirate repo"
Hi there @agatti ! Sorry for not writing for so long, have been occupied with many open-source projects... I hope you are doing well. Have noticed 3 new commits at the "official" DP Bus_Pirate repository - https://github.com/DangerousPrototypes/Bus_Pirate/commits/master - and, looks like all of them are to the "hardware" directory, which does not exists at your repo for some reason. These commits

[2018-06-07 17:00] JarrettR commented on #94
Hi @mikebdp2

Those are for a mythical "BusPirate 5", which, judging from the commits is a complete redesign using the STM32 ARM Cortex-M3 architecture. It won't be compatible in any way with this repo, or the legacy official one because of that. There's also no mention of it in any "official" channels, because I suspect they're trying to fly under the radar until it's at a sufficiently done state

[2018-06-11 17:49] informer2016 commented on #94
@JarrettR Thank you very very much for your reply, Jarret! Didn't get any real reply from @vimark regarding the hardware side, perhaps they want to keep this project as secret :stuck_out_tongue_winking_eye: Yes, I could understand them, although I'm confident BPv5 would not impact the sales of BPv4 because BPv4 has the fully 100% open source bootloader/firmware - which is epic win. Most likely tha

[2018-06-11 18:25] informer2016 commented on #88
@agatti Hi agatti, please verify this new pull request by @ChristopherSamSoon - https://github.com/BusPirate/Bus_Pirate/pull/93

[2018-06-23 08:02] Elemecca opened #95 "support runtime interrupt vector assignment"
I'm working on a fairly complex new mode that requires interrupts to function properly. Unfortunately with the default way XC16 handles interrupt vectors they can only be assigned at compile time. It's fairly clear that existing modes have avoided using interrupts even where it would have made them more efficient, and I suspect that's why.

I would like to propose that support for assigning interr

[2018-06-30 17:48] colo-des opened #98 "register to forum dangereousprototypes"
I was unable to subscribe to the dangerousprototypes forum, it seems that the google re-captcha does not want me, I sent an email to admin and I was rejected by the server, how can I subscribe to the forum?
I would like to report an error using the firmwares that I download of the forum dangerousprototypes the user mikeb  http://dangerousprototypes.com/forum/viewtopic.php?f=28&t=8498#p65290
I own

[2018-07-02 14:00] 0xff7 commented on #98
Yea It's been like this for months too and and I've been waiting to register. There seems to be no way to get ahold of them as their emails get auto returned, and social medias seems like just ads. It's extremely frustrating being a new bus pirate owner and not being able to post on the forum. :/

[2018-07-02 16:29] agatti commented on #98
Sorry folks, the dangerous prototypes forum is something we have absolutely no control over.  This project was created because the dangerous prototypes folks left the bus pirate v4 user community high and dry when it came around to support and new firmware developments, effectively forking the firmware project..

[2018-07-02 16:36] kallisti5 commented on #98
Indeed.  I created the github org. due to the complete and utter lack of collaboration + continued support from Dangerous Prototypes around the BusPirate.  @agatti has been doing a great job doing all the hard work, but we have received zero collaboration from Dangerous Prototypes.

Speaking for myself at least, we're always open if Dangerous Prototypes wants to collaborate!

[2018-07-02 16:36] agatti commented on #95
Can you please elaborate a bit further on the interrupts usage?  Right now interrupts are not really used except for UART on v3 boards and for ADC on both v3 and v4 boards, mostly because there was no real need to use them for something else (even USB is running in polling mode on v4).

I am not really against the idea to begin with, but my only concern is that we strive to get feature parity betw

[2018-07-02 16:40] agatti commented on #98
@kallisti5 I'd love to hear from the Dangerous Prototypes people as well - especially if we can get in early and have new v5-only code being easier to backport to v4 and v3.  Even something as small as sharing common code and use board-specific hardware hooks and whatnot would be a success in my book.

[2018-07-02 16:43] agatti commented on #94
@informer2016 last time I checked they're using a STM32 MCU for the "NG" version, which doesn't really require any closed source code at all.  Maybe you're thinking of extended features like bluetooth and wifi, but as far as I can remember they aren't planning anything like that for the time being.

[2018-07-02 16:47] agatti commented on #94
@mikebdp2 as @JarrettR mentioned, those commits are just hardware modifications.  However, the real new stuff is [here](https://github.com/DangerousPrototypes/Bus_Pirate/commits/firmware_v8_official) - which has been created without getting in touch with us or anything.  Now, the main issue here would be to backport stuff but then it'd become a mess when it comes to version numbers... Should we ju

[2018-07-02 16:48] agatti commented on #98
@kallisti5 Did you take a look at [this](https://github.com/DangerousPrototypes/Bus_Pirate/commits/firmware_v8_official)?  Not sure what's happening on their side, to be honest.

[2018-07-02 17:41] kallisti5 commented on #98
Yeah... more of the same silo stuff DP seems to do. I completely love the BusPirate, but I get the feeling at this point their model is "churning out 'open' designs", but they're not really interested in interfacing the community around those designs.

I mean, BusPirate v4 was a huge improvement with some customer demand (and a well-known brand)... but they just didn't seem interested in working o

[2018-07-02 23:48] agatti commented on #28
Well, this took some time but can some of you folks who asked for OpenOCD support on v4 check whether [this branch](https://github.com/BusPirate/Bus_Pirate/tree/openocd-v4) does work for you?

[2018-07-03 18:36] colo-des commented on #98
@agatti thank you for answering and clarifying things, now I understand what is happening
I see that Ian resumed the development but he does not take the annoyance to answer anyone, with that it is enough to know their intentions, but I stay here collaborating here with you.

My problem comes from the hand of mplabx, I do not intend to execute any java of oracle and less give it
root permissions t

[2018-07-03 22:29] JarrettR commented on #98
I don't believe using MPLab 8 is still reasonable. You can run Java in a VM, without internet access, and it will be perfectly safe,

[2018-07-04 02:09] colo-des commented on #98
@JarrettR Hi, I do not have anything against openjdk, in fact I have it installed in my gentoo testing system
It is the icedtea package

$ eix -Ic icedtea
[I] dev-java/icedtea (3.8.0(8)@14/06/18): A harness to build OpenJDK using Free Software build tools and dependencies

$ eselect java-vm list
Available Java Virtual Machines:
  [1]   icedtea-8  system-vm

The bad thing is that the mplabx install

[2018-07-04 21:58] agatti commented on #28
Ok, this just got merged - please give mainline a shot instead so maybe more people might be able to try this out.  I'll close this for the time being, please re-open another bug if the code doesn't work for you.

[2018-07-04 21:58] #28 closed

[2018-07-05 17:52] agatti commented on #88
Can anyone test this so I can close the ticket?  I don't have any working I2C devices at the moment...

[2018-07-10 22:13] #88 closed

[2018-07-10 23:36] Elemecca commented on #95
The mode emulates an HP 5004 Signature Analyzer, which is essentially a logic probe that feeds a linear feedback shift register to generate a checksum of the activity on a line. Signatures are used in the troubleshooting procedures in the service manuals for a lot of test gear from the early 80s, so for people like me who do restoration it would be convenient to be able to generate them with a rel

[2018-08-02 12:29] ChlorideCull commented on #29
I was reminded by this issue by the board finally showing up in the mail. Needless to say, it's in rough shape after spending six months in the postal system, so I don't think I'll be able to do this any time soon.

[2018-08-16 14:11] mikebdp2 commented on #94
@agatti It seems they stopped committing new code or stopped doing it publicly, last commit is April 10. Yes its possible to backport these new changes, but should be very careful - because we don't know if this code has been well tested on any real hardware (and tested at all?), and does it contain the new bugs

[2018-08-16 15:00] kallisti5 commented on #94
https://github.com/DangerousPrototypes/Bus_Pirate/tree/firmware_v8_official
Looks like DP is completely ignoring the community firmware and still doing their own thing... kind of a bummer. The codebase here is a *lot* cleaner.

[2018-08-16 15:13] mikebdp2 commented on #98
@colo-des and @0xff7 (and @ipatch) : using my existing account at DangerousPrototypes forums, I have just sent lots of private messages *(and e-mails when its possible)* to all the members with a green rank *(mods/admins)* as well as to some of the "hero members" with a large post count : telling about the broken captcha. They have already been read by at least someone *(I see some of them in my "

[2018-08-16 16:28] ipatch commented on #98
@mikebdp2 please keep us updated if you get any new info please.

[2018-08-17 07:43] mikebdp2 commented on #98
@ipatch News: at this thread - https://github.com/DangerousPrototypes/Bus_Pirate/issues/9 - Ian told us they're going to fix captcha ASAP

[2018-08-19 18:00] colo-des commented on #98
@mikebdp2 Great contribution to be able to communicate with Ian and let him know about the subject of the captcha, every so often I will continue to try to subscribe ... sincerely many thanks.

My case it all started when I tried to find new firmware versions for my buspirata3 and buspirata4 and started reading the threads of the dangerousprototypes forum, where I read what was posted by the user

[2018-08-22 17:41] whitelynx opened #101 "LIN protocol support"
Related to [issue #14 in the old Google Code repo](https://code.google.com/archive/p/the-bus-pirate/issues/14).

I could use this for troubleshooting a broken [IKEA Bekant desk](https://github.com/robin7331/IKEA-Hackant), which uses LIN.

[2018-08-22 17:41] whitelynx commented on #101
Quote from the original issue:

I found a couple of LIN libraries, but they're both Arduino-related:
- [macchina/LIN](https://github.com/macchina/LIN) - for Arduino; MIT licensed
- [gandrewstone/LIN](https://github.com/gandrewstone/LIN) for Arduino; 2-clause BSD licensed

Would it make sense to grab one of these and port it?

[2018-08-25 11:14] pljakobs opened #102 "jtag on bp 3a"
So I have successfully built and flashed v7.1 from this repo, but could not find jtag among the protocols.
From what I gather, it should be available for v3 hardware - is it no longer configured through the modes menu?

Also, I know the flash memory of the pic on the v3 boards isn't sufficient to hold a single binary with all features, it would be excellent to have a choice, which features to buil

[2018-08-30 12:13] agatti commented on #102
As far as I know, JTAG is meant to be used only via the binary I/O protocol.  I checked the source code for version 6.1 as it came out from dangerousprototypes' git repository and there is no trace of a command line-driven JTAG mode.

[2018-08-30 12:20] agatti commented on #101
Wouldn't LIN support be tied to a particular transceiver model, then?  I mean, initialisation sequences, modes set-up, and so on aren't standardised across transceivers as far as I know.  I suspect your best bet for now would be to use the binary I/O scripting support and try to implement transceiver communication on top of this - if there is anything that is not available in the interface that is

[2018-08-30 12:20] agatti commented on #98
So, can this be closed then?

[2018-08-30 18:08] pljakobs commented on #102
hmm.. maybe I was mistaken then, I thought I had seen jtag in the protocol selection menu in some tutorials.

[2018-08-31 01:40] Marsfan commented on #102
I believe at one point there was an alternative firmware that had a JTAG mode. I seem to recall trying it and not having much luck, but I believe that was because I have no clue how to use JTAG.

[2018-08-31 19:20] hb9xar opened #103 "Unable to get BPv4 & openocd JTAG working"
Hello there,

I'm trying to get the new JTAG feature on Buspirate V4 working. So far no luck:

- JTAG Target is an OLIMEX STM32-P407 Board.
- BPv3 (with BPv3-firmware-v6.3-r2151.hex) and openocd do work fine
- ST-Link v2 and openocd (in JTAG mode, not SWD) do work fine
So the target itself and openocd do work.

- BPv4: Self Test on my BPv4 with latest firmware (git master branch) shows OK,
- BPv4

[2018-09-01 18:07] Marsfan commented on #102
@USBEprom Can you clarify this statement for me

Are you referring to the STK500 emulator, because I though avrdude could directly interact with the bus pirate standard firmware.

[2018-09-01 20:17] hb9xar commented on #103
See PR #104, makes things much better, but still not working as expected.
After a few dialogues between openocd and BPv4 (Scan commands), BP suddenly starts responding with funny data (string "BBIO1") - this leads me to think than code execution somehow jumps into other code or a reset/watchdog hits.

[2018-09-01 20:39] USBEprom commented on #102
**@Marsfan**

Yes, of course I meant STK500 emulator because for the same reason of the JTAG feature, lack of available  memory into 24FJ64GA002 PIC used on Bus Pirate v3, **firmware-STK500v2** too has been pushed as alternative:

https://github.com/BusPirate/Bus_Pirate/tree/master/Firmware-Alternates

However you are fully right, **avrdude** could directly interact with the Bus Pirate standard fi

[2018-09-02 09:51] #98 closed

[2018-09-02 20:11] agatti commented on #103
Hrmm, that looks like such a thing indeed.  I'll give this one another shot tomorrow with my custom STM32F7 board and see if that triggers a crash.

[2018-09-02 20:16] agatti commented on #102
STK500 will probably be removed in the next repository cleanup, as I am not even sure it still compiles.  Is there any reason for us to keep this around?

[2018-09-03 19:06] hb9xar commented on #103
I may have found the reason why Bpv4 leaves the binary JTAG mode.
The CMD_UNKNOWK case is triggered, causing it to return from binOpenOCD().

For testing, send an 0xA5 character via serial if CMD_UNKNOWN is triggered:
[code]
In the openocd debug log I do see this 0xA5 byte (headed by 0 zero bytes). Then the sequence 43 43 49 ... starts.

My educated guess would be, something is fishy in reading th

[2018-09-03 20:29] agatti commented on #103
That's what the v3 integration code does:

[code]

So the issue might be somewhere else - on the other hand I do not remember getting an odd number of bytes clocked in.  Can you hook a logic analyser up and see exactly what you get?

[2018-09-03 23:46] Marsfan commented on #102
@agatti All I can say regarding the STK500 is when I tried to use it about a year ago with Atmel Studio, Atmel Studio did not recognize it as a STK500 device.

[2018-09-04 21:38] agatti commented on #103
This is indeed weird. A plausible explanation would be that multiple OpenOCD commands arriving in a particular sequence do overrun each other's buffer area, but from what I can see after a quick look at the code for `binOpenOCD` all commands do write data to the terminal buffer prior to reading from it.  Moreover, the v4 implementation for TAP/SHIFT isn't even touching the buffer at all.

Consider

[2018-09-05 21:28] hb9xar commented on #103
PR #105
At least I had a refresher on PIC and USB until it hit me. Does seem work now fine.

[2018-09-05 22:32] agatti commented on #103
@kallisti5, with OpenOCD for v4 brought in I guess it's time to release 7.1 for real this time™ - what do you think?

[2018-09-05 22:32] agatti commented on #102
@Marsfan Fair enough, those will be gone in 7.2 then.

[2018-09-05 22:32] #102 closed

[2018-09-05 22:33] agatti commented on #68
Moving to 7.2...

[2018-09-05 22:33] agatti commented on #64
Moving to 7.2...

[2018-09-05 22:34] agatti commented on #38
Moving to 7.2...

[2018-09-05 22:50] agatti commented on #77
Wonder whether DS30 can be replaced with [this](http://www.microchip.com/SWLibraryWeb/product.aspx?product=Microchip%20Easy%20Bootloader) instead - although this uses MSD USB (similar to what mBed boards do) rather than DFU.

[2018-09-05 22:51] agatti commented on #76
Wonder whether DS30 can be replaced with [this](http://www.microchip.com/SWLibraryWeb/product.aspx?product=Microchip%20Easy%20Bootloader) instead - it does support flashing over UART after all.

[2018-09-06 15:39] pjz opened #106 "Feature request: SiLabs C2 support"
I was considering building a https://github.com/conorpp/u2f-zero which requires a SiLabs JTAG/C2 to program it.  It's not a lot of $$, but if I have a Bus Pirate, do I really need it?

http://dangerousprototypes.com/forum/viewtopic.php?f=4&t=5113 indicates that the protocol is fairly simple and even points to C2 drivers in the kernel that may have helpful code.

So it would be great if this could

[2018-09-06 18:26] agatti commented on #106
That's definitely doable although maybe starting to get a proof of concept using the `RAW2WIRE` mode and its associated binary I/O interface could provide the most benefit before rewriting this in C.  Are there any open source programmers for C2?  I mean, something like flashrom/avrdude/openocd/etc..

[2018-09-06 18:44] pjz commented on #106
https://github.com/Guntermann-Drunck/c2tool might be relevant.

[2018-09-06 18:48] pjz commented on #106
Also, someone one did a dev board and custom programmer/debugger [wayback in 2007](https://web.archive.org/web/20070222114409/http://www.ise.pw.edu.pl:80/~wzab/cygnal/).

[2018-09-17 22:16] agatti opened #107 "Update licence header block on all source files."
Source files currently reference old URLs and entities who are _de-facto_ not involved in the project any longer.  Moreover, the 'Published in the United States' bit may not apply anymore.

That said, something that could be done as well would be to switch to [Software Package Data Exchange](https://spdx.org) entries.

[2018-09-25 19:35] leonerd commented on #52
I don't know if this is the right issue to discuss it, but I have quite the list of "design annoyances" with the binary IO protocol, that I would love to see addressed in a future version. Most of them are just missing features (e.g. ability to read the AUX pin(s) when in a serial IO mode), but some are proper design mistakes (e.g. the unescaped dumping of incoming payloads in UART mode).

A lot o

[2018-09-25 21:17] agatti commented on #52
@leonerd feel free to expand on them here, I'll move things into their own issues before starting on v7.2 .

[2018-09-26 01:30] leonerd commented on #52
@agatti OK, here goes:

In any of the binary IO modes, the following is missing:
* ability to read PSU voltages

There's spare command numbers for adding this, so it should be easy enough.

In all binary IO modes apart from raw bitbang mode, the following features are missing:
* configure AUX (or CS) pins as inputs and read from them (010xxxxx)
* read the ADC input (00010110)
* set the PWM output

[2018-09-26 01:33] leonerd commented on #52
Additionally, in UART mode, receiving is basically impossible to use correctly. The only way to receive UART input is to turn on receive mode, which is acknowledged by a single byte (0x01) and then incoming data is copied raw, without any escaping mechanism, until it is disabled again. The act of disabling it also yields a 0x01 byte. But how would you distinguish that from a real incoming byte of

[2018-09-26 01:41] leonerd commented on #52
This one is purely a "would be really nice to have", but I've often wanted an edge-triggered interrupt input of some kind, to avoid busy-polling of the AUX pin just to find out if my slow sensor / etc.. is ready yet.

A new command pair could be added that applied to all binary protocol modes, of using the AUX pin (or a choice of them in the case of BPv4 hardware to this purpose:

    011000xx - r

[2018-09-27 01:11] leonerd commented on #52
@agatti

A quick test on my BPv3 running 3.6, shows that sending the byte `0x0E` makes it respond NACK (`0x00`), so perhaps this could be used as a "switch version" command. I often find those work best if the requestor sends a min/max range:

    00001110 - request protocol version upgrade
        The next two bytes are the minimum and maximum the caller is able to support.
        Bus Pirate sho

[2018-09-27 21:03] agatti commented on #52
@leonerd Thank you for the report! I'm starting to clean up things a bit for the binary I/O code in preparation for this.  I'll move entries to separate issues one by one as I work through them.

(I wish GitHub had sub-issues like Jira, so things could be arranged in a much cleaner way...)

[2018-09-27 22:16] JarrettR commented on #107
Taking this as an example:

https://github.com/BusPirate/Bus_Pirate/blob/master/Firmware/1wire.h

Could I just grep all instances of the following code:
[code]
And change it to reference this repo, and remove references to publishing country? Is that what you'd like, or would that be helpful?